<div ng-controller="administratorCtrl as vm">
       
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"><h3>Manage Administrators</h3></div>
        <!-- Loading icon, appearing while table is loading its contents. -->
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs loading-right">
        <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hide-until-loaded" id="body" ng-show="!vm.showResults">

        <!-- Show message if the list of administrators contains zero users. -->
        <div ng-hide="vm.adminList.length">
            <p class="after-title-field">No administradors have been added.</p><br />
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 btn-padding2" ng-show="!vm.showResults && vm.adminList.length">
            <label class="left">Search: <input ng-model="vm.criteria" ng-change="vm.showSearch = false" /><button ng-click="vm.search(0)" ng-disabled="vm.loadingSearch"><i class="fa fa-search"></i></button><label ng-show="vm.showSearch && !vm.showResults"> No results found.</label></label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 title-field" ng-show="!vm.showResults && vm.adminList.length">
            <a class="right" href="" data-toggle="modal" data-target="#info">Privileges Description</a>
        </div>

        <!-- Table containing list of administrators. The table is hidden until the system has retrieved the list. -->
        <div class="atable">
            <table class="table row after-title-field" ng-show="vm.adminList.length">
                <thead>
                    <tr>
                        <th><b>Name</b></th>
                        <th><b>E-mail</b></th>
                        <th><b>Privilege</b></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="admin in vm.adminList | orderBy: ['firstName', 'lastName']">
                        <td>{{admin.firstName}} {{admin.lastName}}</td>
                        <td>{{admin.email}}</td>
                        <td>{{admin.privilege}}</td>
                        <td>
                            <!-- Every time the user selects a name of the list, the controller saves the current id and privilegeID of the user for future use. -->
                            <a href="" data-toggle="modal" data-target="#editPrivilege" ng-click="vm.selectedAdminEdit(admin.userID, admin.privilegeID)">Edit</a>
                        </td>
                        <td>
                            <!-- Every time the user selects a name of the list, the controller saves the current id and privilegeID of the user for future use. -->
                            <a href="" data-toggle="modal" data-target="#delete" ng-click="vm.selectedAdminDelete(admin.userID, admin.privilegeID)"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table><br />
            <div aria-live="polite" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Showing page {{vm.index + 1}} of {{vm.maxIndex}}</div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 paging-word">
                <a class="btn btn-default" ng-click="vm.getAdmin(vm.index)"><i class="glyphicon glyphicon-repeat"></i></a>
                <a class="btn btn-default" ng-disabled="vm.index==0" ng-click="vm.getFirstAdminPage()">First</a>
                <a class="btn btn-default" ng-disabled="vm.index==0" ng-click="vm.previousAdmin()">Previous</a>
                <!--<span><a class="btn btn-default">{{vm.index+1}}</a></span>-->
                <a class="btn btn-default" ng-disabled="vm.index >= (vm.maxIndex-1)" ng-click="vm.nextAdmin()">Next</a>
                <a class="btn btn-default" ng-disabled="vm.index >= (vm.maxIndex-1)" ng-click="vm.getLastAdminPage()">Last</a>
            </div>
        </div>

        <div class="row btn-padding2" ng-show="!vm.showResults">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-ar btn-primary pull" data-toggle="modal" data-target="#addAdmin">Add Administrator</button> <a href=""><i class="fa fa-info-circle info-icon" title="Add an administrator"> </i></a>
            </div>
        </div>

    </div>

    <!--Display search results-->
    <div ng-show="vm.searchResults.length && vm.showSearch">
        <div>
            <label class="left"><button ng-click="vm.back()"><i class="glyphicon glyphicon-arrow-left"></i> </button> Showing results for: "{{vm.criteria}}"</label>
            <table class="table row after-title-field" ng-show="vm.adminList.length">
                <thead>
                    <tr>
                        <th><b>Name</b></th>
                        <th><b>E-mail</b></th>
                        <th><b>Privilege</b></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="admin in vm.searchResults | orderBy: ['firstName', 'lastName']">
                        <td>{{admin.firstName}} {{admin.lastName}}</td>
                        <td>{{admin.email}}</td>
                        <td>{{admin.privilege}}</td>
                        <td>
                            <!-- Every time the user selects a name of the list, the controller saves the current id and privilegeID of the user for future use. -->
                            <a href="" data-toggle="modal" data-target="#editPrivilege" ng-click="vm.selectedAdminEdit(admin.userID, admin.privilegeID)">Edit</a>
                        </td>
                        <td>
                            <!-- Every time the user selects a name of the list, the controller saves the current id and privilegeID of the user for future use. -->
                            <a href="" data-toggle="modal" data-target="#delete" ng-click="vm.selectedAdminDelete(admin.userID, admin.privilegeID)"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table><br />
        </div>
        <div aria-live="polite" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Showing page {{vm.searchIndex + 1}} of {{vm.searchMaxIndex}}</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 paging-word">
            <a class="btn btn-default" ng-click="vm.search(vm.searchIndex)"><i class="glyphicon glyphicon-repeat"></i></a>
            <a class="btn btn-default" ng-disabled="vm.searchIndex==0" ng-click="vm.getFirstSearch()">First</a>
            <a class="btn btn-default" ng-disabled="vm.searchIndex==0" ng-click="vm.previousSearch()">Previous</a>
            <!--<span><a class="btn btn-default">{{vm.searchIndex+1}}</a></span>-->
            <a class="btn btn-default" ng-disabled="vm.searchIndex >= (vm.searchMaxIndex-1)" ng-click="vm.nextSearch()">Next</a>
            <a class="btn btn-default" ng-disabled="vm.searchIndex >= (vm.searchMaxIndex-1)" ng-click="vm.getLastSearch()">Last</a>
        </div>
    </div>

    <!-- Info Modal:-->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="infoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="infoLabel">Privileges</h4>
                </div>
                <div class="modal-body">
                   <p>Actions allowed by the different privileges:</p>
                   <p>Administrator:
                    <ul><li>Manage Website Content</li>
                        <li>Manage Evaluators</li>
                        <li>Manage Submissions</li>
                        <li>Manage Registrations</li>
                        <li>Manage Sponsors</li>
                        <li>Manage Complimentary Codes</li>
                        <li>Manage Topics</li>
                        <li>Manage Authorization Templates</li>
                        <li>Manage Submission Templates</li>
                        <li>Access Reports</li>
                        <li>Evaluate Submissions</li>
                       </ul></p>
                    <p>
                        Finance:
                        <ul>
                            <li>Manage Website Content</li>
                            <li>Manage Registrations</li>
                            <li>Manage Sponsors</li>
                            <li>Manage Complimentary Codes</li>
                            <li>Manage Authorization Templates</li>
                            <li>Access Reports</li>
                        </ul>
                    </p>
                    <p>
                        Committee Evaluator:
                        <ul>
                            <li>Manage Evaluators</li>
                            <li>Manage Submissions</li>
                            <li>Manage Topics</li>
                            <li>Manage Authorization Templates</li>
                            <li>Manage Submission Templates</li>
                            <li>Evaluator Privilege</li>
                            <li>Evaluate Submissions</li>
                        </ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary right" data-dismiss="modal">Ok</button>
                    <span ng-show="vm.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Admin Modal: Input:Email, Privilege -->
    <div class="modal fade" id="addAdmin" tabindex="-1" role="dialog" aria-labelledby="addAdminLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addAdminLabel">Add Administrator</h4>
                </div>
                <div class="modal-body">
                    <form name="addPrivilegeForm" novalidate>
                        <p>Please, provide the email of the user you wish to add as an administrator. Note: The user must own an account in ConferenceAdmin.</p>
                        <label>Email:</label>
                        <input id="email" name="email" type="email" ng-model="vm.email" required />
                        <label class="help-inline" ng-show="addPrivilegeForm.email.$invalid && !addPrivilegeForm.email.$pristine">Email is required.</label>
                        <br />
                        <label>Select Privileges:</label><br />
                        <div ng-repeat="privilege in vm.privilegeList">
                            <input name="privilegesAdd" type="radio" ng-model="vm.privilegeID" value="{{privilege.privilegeID}}" required>{{privilege.name}}
                        </div>
                        <label class="help-inline" ng-show="addPrivilegeForm.privilegesAdd.$invalid && !addPrivilegeForm.privilegesAdd.$pristine">Select a privilege.</label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" ng-click="vm.next()" ng-disabled="addPrivilegeForm.$invalid || vm.loading">Add</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal" ng-click="vm.clear()">Cancel</button>
                    <span ng-show="vm.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal: Input:Privilege -->
    <div class="modal fade" id="editPrivilege" tabindex="-1" role="dialog" aria-labelledby="editPrivilegeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="editPrivilegeLabel">Edit Privileges</h4>
                </div>
                <div class="modal-body">
                    <form name="editPrivilegeForm" novalidate>
                        <label class="after-title-field">Select Privileges:</label>
                        <div ng-repeat="privilege in vm.privilegeList">
                            <input id="{{privilege.privilegeID}}" name="privilegesEdit" type="radio" ng-model="vm.privilegeID" value="{{privilege.privilegeID}}" required>{{privilege.name}}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" ng-click="vm.editAdmin()" ng-disabled="editPrivilegeForm.$invalid || vm.loading">Save</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal" ng-click="vm.privilegeID=''">Cancel</button>
                    <span ng-show="vm.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
            </div>
        </div>
    </div>

    <!--Delete Modal-->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteLabel">Remove Administrator</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove the selection?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.deleteAdmin()" ng-disabled="vm.loading">Remove</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                    <span ng-show="vm.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation that a new administrator was added. -->
    <div class="modal fade" id="addConfirm" tabindex="-1" role="dialog" aria-labelledby="addConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addConfirmLabel">Administrator Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The administrator has been added.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation that an administrator privilege has been updated. -->
    <div class="modal fade" id="editConfirm" tabindex="-1" role="dialog" aria-labelledby="editConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="editConfirmLabel">Administrator Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The administrator has been updated.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation that an administrator has been removed from the list. -->
    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteConfirmLabel">Administrator Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The administrator has been removed.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error: Email provided during 'AddAdmin' already has another privilege in the system. -->
    <div class="modal fade" id="addError" tabindex="-1" role="dialog" aria-labelledby="addErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addErrorLabel">Administrator not added</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The administrator could not be added with the specified privilege. Possible reasons include:
                        <ul>
                            <li>The email provided has already a privilege assigned.</li>
                            <li>The user cannot be added as administrator at this moment. Try again later.</li>
                        </ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error: Email provided was not found in the system.-->
    <div class="modal fade" id="addError2" tabindex="-1" role="dialog" aria-labelledby="addError2Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addError2Label">Administrator not added</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The administrator could not be added:
                        <ul><li>The email provided was not found in the system. Request the administrator to create an account or try another email.</li></ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Server Error: Unknown. Try again? -->
    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>

</div>