<div class="row" ng-controller="homeCtrl as vm">

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><h3>Home Content</h3></div>

    <!-- Loading icon, appearing while table is loading its contents. -->
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs loading-right">
        <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
    </div>

    <!-- Home Information from Administrator Settings-->
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 hide-until-loaded" id="body">
        <p>The information you include here is used for informational purposes only. It is displayed on the "Home" section of the website.</p>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="form-group">
                    <h5 class="after-title-field">Home Main Title</h5>
                    <input type="text" class="form-control" ng-model="vm.homeMainTitle"><br />
                </div>
            </div>
        </div>
        <!--Home Picture upload-->
        <h5 class="after-title-field">Home Picture</h5>
        <p>Image must not exceed 5 MB. Valid image formats include .jpg .jpeg .png .pic .pict</p>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="upload col-lg-4 col-md-4 col-sm-4 col-xs-4 input-group">
                <input type="file" id="imageFile" name="upload" file-model="myFile" on-read-file="saveImg($fileContent)" />
                <span ng-disabled="!myFile" class="input-group-addon btn" ng-click="vm.clear()">Clear</span>
            </div>
        </form>
        <div ng-show="vm.show"><a href="" data-toggle="modal" data-target="#viewImg">View Image on File</a></div>

        <br />

        <!--Home information content-->
        <h5 class="after-title-field">Description</h5>
        <div>
            <textarea class="form-control" ng-model="vm.homeParagraph1" ckeditor="300px"></textarea><br />
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <button class="btn btn-ar btn-default" ng-click="vm.reset()">Reload</button>
                <button class="btn btn-ar btn-primary" ng-disabled="vm.disabled" ng-click="vm.saveHome()">Save</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <h3 ng-show="vm.saveLoading">  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving</h3>
            </div>
        </div>
    </div>

    <!--Modal: View Image on File-->
    <div class="modal fade" id="viewImg" tabindex="-1" role="dialog" aria-labelledby="viewImgLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="viewImgLabel">Home Image</h4>
                </div>
                <div class="modal-body">
                    <div class="title-field">
                        <div ng-if="content">
                            <img class="img-size img-responsive" ng-src="{{content}}" />
                        </div>
                        <a class="btn btn-ar pull right" data-toggle="modal" data-target="#delete">Remove</a><br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Do you want to delete? -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteLabel">Home Image</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete the image? It will not be displayed in: Home.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.removeImage()">Yes!</button>
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Confirmation -->
    <div class="modal fade" id="updateConfirm" tabindex="-1" role="dialog" aria-labelledby="updateConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="updateConfirmLabel">Home Update</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The information has been updated.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Error -->
    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>

    <!-- Image Delete Confirmation -->
    <div class="modal fade" id="deleteImgConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteImgConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteImgConfirmLabel">Home Image</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The image has been removed.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- File Error: Extension -->
    <div class="modal fade" id="fileExtError" tabindex="-1" role="dialog" aria-labelledby="fileExtErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="fileExtErrorLabel">Image Extension Error</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The image must be in a valid image format:<br />
                        <ul class="list-unstyled list-inline">
                            <li>.jpg</li>
                            <li>.jpeg</li>
                            <li>.png</li>
                            <li>.pic</li>
                            <li>.pict</li>
                        </ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- File Error: Size -->
    <div class="modal fade" id="fileExtError2" tabindex="-1" role="dialog" aria-labelledby="fileExtError2Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="fileExtError2Label">Image Size Error</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The image must not exceed 5 MB:<br />
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>