<div ng-controller="evaluatorCtrl as vm">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"><h3>Manage Evaluators</h3></div>
        <!-- Loading icon, appearing while table is loading its contents. -->
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs loading-right">
            <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-padding2" ng-show="!vm.showResults && (vm.pendingList.length || vm.evaluatorsList.length)">
        <label class="left">Search: <input ng-model="vm.criteria" ng-change="vm.showSearch = false" /><button ng-click="vm.search(0)" ng-disabled="vm.loadingSearch"><i class="fa fa-search"></i></button> <label ng-show="vm.showSearch && !vm.showResults"> No results found.</label></label>
    </div>

    <!--Display pending applications-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hide-until-loaded" id="body">
        <div class="panel-group" id="accordion" ng-show="!vm.showResults">
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false">
                        Pending Applications for Evaluator
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div ng-hide="vm.pendingList.length">
                            <p class="title-field">No content to display.</p>
                            <a class="btn btn-default" ng-click="vm.getPendingListFromIndex(vm.pindex)"><i class="glyphicon glyphicon-repeat"></i> Refresh</a>
                        </div>
                        <div ng-show="vm.pendingList.length">
                            <div>
                                <table class="table table-top col-lg-12 col-md-12">
                                    <thead>
                                        <tr>
                                            <th><b>Name</b></th>
                                            <th><b>Email</b></th>
                                            <th><b>Update</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="evaluator in vm.pendingList | orderBy: ['firstName', 'lastName']">
                                            <td>{{evaluator.firstName}} {{evaluator.lastName}}</td>
                                            <td>{{evaluator.email}}</td>
                                            <td>
                                                <!-- DropDown Menu showing available status options. -->
                                                <div id="button-{{evaluator.userID}}">
                                                    <select ng-model="evaluator.optionStatus"
                                                            ng-options="acceptanceStatus for acceptanceStatus in vm.acceptanceStatusList"></select>
                                                    <button class="btn btn-ar btn-primary" ng-click="vm.selectedEvaluator(evaluator)" data-toggle="modal" data-target="#updateConfirmation">Apply</button>
                                                </div>
                                                <span id="loading-{{evaluator.userID}}"></span>
                                            </td>
                                        </tr>
                                        <tr><td></td><td></td><td></td></tr>
                                    </tbody>
                                </table><br />
                            </div>
                            <div aria-live="polite" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Showing page {{vm.pindex + 1}} of {{vm.pmaxIndex}}</div>
                            <div class="col-lg-6 paging-word">
                                <a class="btn btn-default" ng-click="vm.getPendingListFromIndex(vm.pindex)"><i class="glyphicon glyphicon-repeat"></i></a>
                                <a class="btn btn-default" ng-disabled="vm.pindex==0" ng-click="vm.getFirstPendingPage()">First</a>
                                <a class="btn btn-default" ng-disabled="vm.pindex==0" ng-click="vm.previousPending()">Previous</a>
                                <a class="btn btn-default" ng-disabled="vm.pindex >= (vm.pmaxIndex-1)" ng-click="vm.nextPending()">Next</a>
                                <a class="btn btn-default" ng-disabled="vm.pindex >= (vm.pmaxIndex-1)" ng-click="vm.getLastPendingPage()">Last</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Display past applications-->
            <div class="panel panel-default" id="panel2">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" class="collapsed">
                        Past Applications for Evaluator
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-hide="vm.evaluatorsList.length">
                            <p class="title-field">No content to display.</p>
                            <a class="btn btn-default" ng-click="vm.getEvaluatorListFromIndex(vm.eindex)"><i class="glyphicon glyphicon-repeat"></i> Refresh</a>
                        </div>
                        <div ng-show="vm.evaluatorsList.length">
                            <div>
                                <table class="table table-top col-lg-12">
                                    <thead>
                                        <tr>
                                            <th><b>Name</b></th>
                                            <th><b>Email</b></th>
                                            <th><b>Status</b></th>
                                            <th><b>Update</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="evaluator in vm.evaluatorsList | orderBy: ['firstName', 'lastName']">
                                            <td>{{evaluator.firstName}} {{evaluator.lastName}}</td>
                                            <td>{{evaluator.email}}</td>
                                            <td>{{evaluator.acceptanceStatus}}</td>
                                            <td>
                                                <!-- DropDown Menu showing available status options. -->
                                                <div id="button-{{evaluator.userID}}">
                                                    <select ng-model="evaluator.optionStatus"
                                                            ng-options="acceptanceStatus for acceptanceStatus in vm.acceptanceStatusList"></select>
                                                    <button class="btn btn-ar btn-primary" ng-click="vm.selectedEvaluator(evaluator)" ng-disabled="(evaluator.optionStatus == 'Accept' && evaluator.acceptanceStatus == 'Accepted') || (evaluator.optionStatus == 'Reject' && evaluator.acceptanceStatus == 'Rejected')" data-toggle="modal" data-target="#updateConfirmation">Apply</button>
                                                </div>
                                                <span id="loading-{{evaluator.userID}}"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table><br />
                            </div>
                            <div aria-live="polite" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Showing page {{vm.eindex + 1}} of {{vm.emaxIndex}}</div>
                            <div class="col-lg-6 paging-word">
                                <a class="btn btn-default" ng-click="vm.getEvaluatorListFromIndex(vm.eindex)"><i class="glyphicon glyphicon-repeat"></i></a>
                                <a class="btn btn-default" ng-disabled="vm.eindex==0" ng-click="vm.getFirstEvaluatorPage()">First</a>
                                <a class="btn btn-default" ng-disabled="vm.eindex==0" ng-click="vm.previousEvaluator()">Previous</a>
                                <!--<span><a class="btn btn-default">{{vm.eindex+1}}</a></span>-->
                                <a class="btn btn-default" ng-disabled="vm.eindex >= (vm.emaxIndex-1)" ng-click="vm.nextEvaluator()">Next</a>
                                <a class="btn btn-default" ng-disabled="vm.eindex >= (vm.emaxIndex-1)" ng-click="vm.getLastEvaluatorPage()">Last</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Display search results-->
        <div class="row" ng-show="!vm.showResults">
            <div class="col-lg-12">
                <button class="btn btn-ar btn-primary pull" data-toggle="modal" data-target="#addEvaluator">Add Evaluator</button> <a href=""><i class="fa fa-info-circle info-icon" title="Manually add an evaluator"> </i></a>
            </div>
        </div>

        <div ng-show="vm.searchResults.length && vm.showSearch">
            <div>
                <label class="left"><button ng-click="vm.back()"><i class="glyphicon glyphicon-arrow-left"></i> </button> Showing results for: "{{vm.criteria}}"</label>
                <table class="table table-top col-lg-12">
                    <thead>
                        <tr>
                            <th><b>Name</b></th>
                            <th><b>Email</b></th>
                            <th><b>Status</b></th>
                            <th><b>Update</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="evaluator in vm.searchResults | orderBy: ['firstName', 'lastName']">
                            <td>{{evaluator.firstName}} {{evaluator.lastName}}</td>
                            <td>{{evaluator.email}}</td>
                            <td>{{evaluator.acceptanceStatus}}</td>
                            <td>
                                <!-- DropDown Menu showing available status options. -->
                                <div id="sbutton-{{evaluator.userID}}">
                                    <select ng-model="evaluator.optionStatus"
                                            ng-options="acceptanceStatus for acceptanceStatus in vm.acceptanceStatusList"></select>
                                    <button class="btn btn-ar btn-primary" ng-click="vm.selectedEvaluator(evaluator)" ng-disabled="(evaluator.optionStatus == 'Accept' && evaluator.acceptanceStatus == 'Accepted') || (evaluator.optionStatus == 'Reject' && evaluator.acceptanceStatus == 'Rejected')" data-toggle="modal" data-target="#updateConfirmation">Apply</button>
                                </div>
                                <span id="sloading-{{evaluator.userID}}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table><br />
            </div>
            <div aria-live="polite" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Showing page {{vm.searchIndex + 1}} of {{vm.searchMaxIndex}}</div>
            <div class="col-lg-6 paging-word">
                <a class="btn btn-default" ng-click="vm.search(vm.searchIndex)"><i class="glyphicon glyphicon-repeat"></i></a>
                <a class="btn btn-default" ng-disabled="vm.searchIndex==0" ng-click="vm.getFirstSearch()">First</a>
                <a class="btn btn-default" ng-disabled="vm.searchIndex==0" ng-click="vm.previousSearch()">Previous</a>
                <!--<span><a class="btn btn-default">{{vm.searchIndex+1}}</a></span>-->
                <a class="btn btn-default" ng-disabled="vm.searchIndex >= (vm.searchMaxIndex-1)" ng-click="vm.nextSearch()">Next</a>
                <a class="btn btn-default" ng-disabled="vm.searchIndex >= (vm.searchMaxIndex-1)" ng-click="vm.getLastSearch()">Last</a>
            </div>
        </div>
    </div>

    <!-- Add Evaluators Modal: Input: Email -->
    <div class="modal fade" id="addEvaluator" tabindex="-1" role="dialog" aria-labelledby="addEvaluatorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addEvaluatorLabel">Add Evaluator</h4>
                </div>
                <div class="modal-body">
                    <form name="addEvaluatorForm" novalidate>
                        <p>Please, provide the email of the user you wish to add as an evaluator. Note: The user must own an account in ConferenceAdmin.</p>
                        <label>Email:</label>
                        <input id="email" name="email" type="email" ng-model="vm.email" required />
                        <label class="help-inline" ng-show="addEvaluatorForm.email.$invalid && !addEvaluatorForm.email.$pristine">Email is required.</label>
                        <br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" ng-click="vm.next()" ng-disabled="addEvaluatorForm.$invalid || vm.loading">Add</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal" ng-click="vm.clear()">Cancel</button>
                    <span ng-show="vm.loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Error: Email not found in the system -->
    <div class="modal fade" id="addError" tabindex="-1" role="dialog" aria-labelledby="addErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addErrorLabel">Evaluator not added</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The evaluator could not be added:
                        <ul><li>The email provided was not found in the system. Request the evaluator to create an account.</li></ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error: Already an evaluator -->
    <div class="modal fade" id="addError2" tabindex="-1" role="dialog" aria-labelledby="addError2Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addError2Label">Evaluator not added</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The evaluator could not be added.
                        <ul><li>The email you provided belongs to a registered user that is already an evaluator.</li></ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Confirmation -->
    <div class="modal fade" id="addConfirm" tabindex="-1" role="dialog" aria-labelledby="addConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addConfirmLabel">Evaluator Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The evaluator has been added.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Confirmation -->
    <div class="modal fade" id="confirmationEvaluatorAcceptanceChange" tabindex="-1" role="dialog" aria-labelledby="acceptanceLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="acceptanceLabel">Acceptance Status Changed</h4>
                </div>
                <div class="modal-body">
                    The acceptance status has been changed.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>

    <!--Delete Confirmation-->
    <div class="modal fade" id="updateConfirmation" tabindex="-1" role="dialog" aria-labelledby="updateConfirmationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="updateConfirmationLabel">Selection Confirmation</h4>
                </div>
                <div class="modal-body">
                   <p>Are you sure you want to update the selected evaluator?</p>
                    <ul><li>In the case you are removing an evaluator with assigned submissions, he/she will not be able to complete the evaluations assigned.</li></ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.updateAcceptanceStatus()">Confirm</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div><!--ctrl end-->