<div ng-controller="reportCtrl as vm">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"><h3>Billing Report</h3></div>
        <!-- Loading icon, appearing while table is loading its contents. -->
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs loading-right">
            <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-padding2" ng-show="!vm.showResults && (vm.registrationList.length || vm.sponsorList.length)">
        <label class="left">Search: <input ng-model="vm.criteria" ng-change="vm.showSearch = false" /><button ng-click="vm.search(0)" ng-disabled="vm.loadingSearch"><i class="fa fa-search"></i></button> <label ng-show="vm.showSearch && !vm.showResults"> No results found.</label></label>
    </div>

    <!--Reports from Administrator Settings-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hide-until-loaded" id="body">
        <div class="panel-group editor-width" id="accordion" ng-show="!vm.showResults">
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading panel-heading-link">
                    <!--Registration Payments including Complimentary Payments-->
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false">
                        Registration Payments
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div ng-hide="vm.registrationList.length">
                            <p class="title-field">No content to display.</p>
                            <a class="btn btn-default" ng-click="vm.getRegistrationListFromIndex(vm.rindex)"><i class="glyphicon glyphicon-repeat"></i> Refresh</a>
                        </div>
                        <div ng-show="vm.registrationList.length">
                            <div class="paging-height">
                                <table class="table table-top col-lg-12 col-md-12" id="billTable">
                                    <thead>
                                        <tr>
                                            <th><b>Attendee Name</b></th>
                                            <th><b>Affiliation Name</b></th>
                                            <th><b>Type of User</b></th>
                                            <th><b>Amount Paid</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in vm.registrationList | filter:searchBill | orderBy: ['affiliation', 'name']">
                                            <td>{{p.name}}</td>
                                            <td>{{p.affiliation}}</td>
                                            <td>{{p.userType}}</td>
                                            <td>${{p.amountPaid}}</td>
                                        </tr>
                                    </tbody>
                                </table><br />
                            </div>
                            <div aria-live="polite" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Showing page {{vm.rindex + 1}} of {{vm.rmaxIndex}}</div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 paging-word">
                                <a class="btn btn-default" ng-click="vm.getRegistrationListFromIndex(vm.rindex)"><i class="glyphicon glyphicon-repeat"></i></a>
                                <a class="btn btn-default" ng-disabled="vm.rindex==0" ng-click="vm.getFirstRegistrationPage()">First</a>
                                <a class="btn btn-default" ng-disabled="vm.rindex==0" ng-click="vm.previousRegistration()">Previous</a>
                                <a class="btn btn-default" ng-disabled="vm.rindex >= (vm.rmaxIndex-1)" ng-click="vm.nextRegistration()">Next</a>
                                <a class="btn btn-default" ng-disabled="vm.rindex >= (vm.rmaxIndex-1)" ng-click="vm.getLastRegistrationPage()">Last</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--List of Sponsor Payments-->
            <div class="panel panel-default" id="panel2">
                <div class="panel-heading panel-heading-link">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" class="collapsed">
                        Sponsor Payments
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-hide="vm.sponsorList.length">
                            <p class="title-field">No content to display.</p>
                            <a class="btn btn-default" ng-click="vm.getSponsorListFromIndex(vm.sindex)"><i class="glyphicon glyphicon-repeat"></i> Refresh</a>
                        </div>
                        <div ng-show="vm.sponsorList.length">
                            <div class="paging-height">
                                <table class="table table-top col-lg-12 col-md-12" id="billTable2">
                                    <thead>
                                        <tr>
                                            <th><b>Name</b></th>
                                            <th><b>Affiliation Name</b></th>
                                            <th><b>Sponsor Type</b></th>
                                            <th><b>Amount Paid</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in vm.sponsorList | filter:searchSponsor | orderBy: ['affiliation', 'name']">
                                            <td>{{p.name}}</td>
                                            <td>{{p.affiliation}}</td>
                                            <td>{{p.sponsorType}}</td>
                                            <td>${{p.amountPaid}}</td>
                                        </tr>
                                    </tbody>
                                </table><br />
                            </div>
                            <div aria-live="polite" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Showing page {{vm.sindex + 1}} of {{vm.smaxIndex}}</div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 paging-word">
                                <a class="btn btn-default" ng-click="vm.getSponsorListFromIndex(vm.sindex)"><i class="glyphicon glyphicon-repeat"></i></a>
                                <a class="btn btn-default" ng-disabled="vm.sindex==0" ng-click="vm.getFirstSponsorPage()">First</a>
                                <a class="btn btn-default" ng-disabled="vm.sindex==0" ng-click="vm.previousSponsor()">Previous</a>
                                <!--<span><a class="btn btn-default">{{vm.sindex+1}}</a></span>-->


                                <a class="btn btn-default" ng-disabled="vm.sindex >= (vm.smaxIndex-1)" ng-click="vm.nextSponsor()">Next</a>
                                <a class="btn btn-default" ng-disabled="vm.sindex >= (vm.smaxIndex-1)" ng-click="vm.getLastSponsorPage()">Last</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Download Report button-->
        <div class="row" ng-show="!vm.showResults">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <a ng-click="vm.downloadBillReport()" class="btn btn-ar btn-primary" ng-show="vm.registrationList.length || vm.sponsorList.length" ng-disabled="vm.loading">Download Full Report</a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 text-center">
                <h3 ng-show="vm.downloadLoading">  <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
            </div>
        </div>

        <!--Results search-->
        <div ng-show="vm.searchResults.length && vm.showSearch">
            <div>
                <label class="left"><button ng-click="vm.back()"><i class="glyphicon glyphicon-arrow-left"></i> </button> Showing results for: "{{vm.criteria}}"</label>
                <table class="table table-top col-lg-12">
                    <thead>
                        <tr>
                            <th><b>Attendee Name</b></th>
                            <th><b>Affiliation Name</b></th>
                            <th><b>Type of User</b></th>
                            <th><b>Amount Paid</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in vm.searchResults | orderBy: ['affiliation', 'name']">
                            <td>{{p.name}}</td>
                            <td>{{p.affiliation}}</td>
                            <td>{{p.userType}}</td>
                            <td>${{p.amountPaid}}</td>
                        </tr>
                    </tbody>
                </table><br />
            </div>
            <div aria-live="polite" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Showing page {{vm.searchIndex + 1}} of {{vm.searchMaxIndex}}</div>
            <div class="col-lg-6 paging-word">
                <a class="btn btn-default" ng-click="vm.search(vm.searchIndex)"><i class="glyphicon glyphicon-repeat"></i></a>
                <a class="btn btn-default" ng-disabled="vm.searchIndex==0" ng-click="vm.getFirstSearch()">First</a>
                <a class="btn btn-default" ng-disabled="vm.searchIndex==0" ng-click="vm.previousSearch()">Previous</a>
                <!--<span><a class="btn btn-default">{{vm.searchIndex+1}}</a></span>-->
                <a class="btn btn-default" ng-disabled="vm.searchIndex >= (vm.searchMaxIndex-1)" ng-click="vm.nextSearch()">Next</a>
                <a class="btn btn-default" ng-disabled="vm.searchIndex >= (vm.searchMaxIndex-1)" ng-click="vm.getLastSearch()">Last</a>
            </div>
        </div>
    </div>

    <!--Error modal-->
    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>
</div>