<div class="container" ng-controller="adminCtrl as vm">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-title">Administrator Settings</h2>
            <button type="button" class="btn btn-ar btn-primary hidden-lg" ng-click="vm.changeMenu();" ng-hide="!vm.hideMenu">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
            <div class="vertical-tabs-left hidden-lg pixels-105" ng-hide="vm.hideMenu">
                <div class="vertical-tab-list">

                    <button type="button" class="btn btn-ar btn-primary right" ng-click="vm.changeMenu();">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </button><span class="right">Hide Menu &nbsp;&nbsp;</span>
                </div>
            </div>
            <div class="vertical-tabs-left full-width">
                <div class="vertical-tab-list pixels-105" ng-hide="vm.hideMenu">
                    <h5 ng-show="vm.reports" class="title-centered">
                        Website Content

                    </h5>
                    <ul class="nav">

                        <li ng-show="vm.general" ng-click="selectedTab='general';" ng-class="{active: selectedTab=='general'}"><a href="#/Administrator/GeneralInformation">General</a></li>
                        <li ng-show="vm.home" ng-click=" selectedTab='home' ;" ng-class="{active: selectedTab=='home'}"><a href="#/Administrator/Home">Home</a></li>
                        <li ng-show="vm.planning" ng-click="selectedTab='planning';" ng-class="{active: selectedTab=='planning'}"><a href="#/Administrator/PlanningCommittee">Committee</a></li>
                        <li ng-show="vm.venue" ng-click="selectedTab='venue';" ng-class="{active: selectedTab=='venue'}"><a href="#/Administrator/Venue">Venue</a></li>
                        <li ng-show="vm.deadline" ng-click="selectedTab='deadline';" ng-class="{active: selectedTab=='deadline'}"><a href="#/Administrator/Deadlines">Deadlines</a></li>
                        <li ng-show="vm.registrationInt" ng-click="selectedTab='registrationInt';" ng-class="{active: selectedTab=='registrationInt'}"><a href="#/Administrator/RegistrationForm">Registration</a></li>
                        <li ng-show="vm.participation" ng-click="selectedTab='participation';" ng-class="{active: selectedTab=='participation'}"><a href="#/Administrator/Participation">Call for Participation</a></li>
                        <li ng-show="vm.program" ng-click="selectedTab='program';" ng-class="{active: selectedTab=='program'}"><a href="#/Administrator/Program">Program</a></li>
                        <li ng-show="vm.sponsorsInt" ng-click="selectedTab='sponsorsInt';" ng-class="{active: selectedTab=='sponsorsInt'}"><a href="#/Administrator/Sponsors">Sponsors</a></li>
                        <li ng-show="vm.contact" ng-click="selectedTab='contact';" ng-class="{active: selectedTab=='contact'}"><a href="#/Administrator/Contact">Contact</a></li>

                    </ul>
                    <h5 class="title-centered">Conference <br />Management</h5>
                    <ul class="nav">
                        <li ng-show="vm.committeeManage" ng-click="selectedTab='committeeManage';" ng-class="{active: selectedTab=='committeeManage'}"><a href="#/Administrator/ManageAdministrators">Administrators</a></li>
                        <li ng-show=" vm.evaluators" ng-click=" selectedTab='evaluators' ;" ng-class="{active: selectedTab=='evaluators'}"><a href="#/Administrator/ManageEvaluators">Evaluators</a></li>
                        <li ng-show="vm.topic" ng-click="selectedTab='topic';" ng-class="{active: selectedTab=='topic'}"><a href="#/Administrator/ManageTopics">Topics</a></li>
                        <li ng-show="vm.registrationList" ng-click="selectedTab='registrationList';" ng-class="{active: selectedTab=='registrationList'}"><a href="#/Administrator/RegistrationList">Registration List</a></li>
                        <li ng-show="vm.guest" ng-click="selectedTab='guest';" ng-class="{active: selectedTab=='guest'}"><a href="#/Administrator/ManageGuests">Guests</a></li>
                        <li ng-show="vm.submissions" ng-click="selectedTab='submissions';" ng-class="{active: selectedTab=='submissions'}"><a href="#/Administrator/ManageSubmissions">Submissions</a></li>
                        <li ng-show="vm.sponsors" ng-click="selectedTab='sponsors';" ng-class="{active: selectedTab=='sponsors'}"><a href="#/Administrator/ManageSponsors">Sponsors</a></li>
                        <li ng-show="vm.templates" ng-click="selectedTab='templates';" ng-class="{active: selectedTab=='templates'}"><a href="#/Administrator/ManageTemplates">Templates</a></li>
                        <li ng-show="vm.authTemplates" ng-click="selectedTab='authTemplates';" ng-class="{active: selectedTab=='authTemplates'}"><a href="#/Administrator/ManageAuthTemplates">Authorization<br /> Templates</a></li>
                        <li ng-show="vm.keyCodes" ng-click="selectedTab='keyCodes';" ng-class="{active: selectedTab=='keyCodes'}"><a href="#/Administrator/ManageKeyCodes">Key Codes</a></li>
                        <li ng-show="vm.reports" ng-click="selectedTab='reports';" ng-class="{active: selectedTab=='reports'}"><a href="#/Administrator/Reports">Bill Report</a></li>
                    </ul>

                </div> <!-- vertical-tab-list -->
                <div class="tab-content full-width left">
                    <div ui-view="adminPage" autoscroll="true"> </div> <!-- tab-content -->
                </div> <!-- vertical-tabs-left -->
            </div>
        </div>
    </div>
</div>

