<div class="row" ng-controller="sponsorInterfaceCtrl as vm">

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <h3>Sponsors Information</h3>
    </div>

    <!-- Loading icon, appearing while table is loading its contents. -->
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs loading-right">
        <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
    </div>

    <div class="hide-until-loaded" id="body">
        <!--Sponsor customization from Administrator Settings-->
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <p>The information you include in the following editor is used for informational purposes only. It is displayed on the "Sponsors" section of the website.</p>
            <h5 class="after-title-field">Instructions for Sponsors and Donations</h5>
            <div>
                <textarea class="form-control" ng-model="vm.instructions" ckeditor="200px"></textarea><br>
            </div>
            <h5 class="after-title-field">Sponsor Pricing and Benefits</h5><br />
        </div>

        <div class="col-lg-6">
            <table class="table row after-title-field">
                <tr>
                    <td><b>Sponsor Type</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Diamond</td>
                    <td>
                        <a href="" ng-click="vm.selectedSponsor('Diamond')">Edit Pricing & Benefits</a>
                    </td>
                </tr>
                <tr>
                    <td>Platinum</td>
                    <td>
                        <a href="" ng-click="vm.selectedSponsor('Platinum')">Edit Pricing & Benefits</a>
                    </td>
                </tr>
                <tr>
                    <td>Gold</td>
                    <td>
                        <a href="" ng-click="vm.selectedSponsor('Gold')">Edit Pricing & Benefits</a>
                    </td>
                </tr>
                <tr>
                    <td>Silver</td>
                    <td>
                        <a href="" ng-click="vm.selectedSponsor('Silver')">Edit Pricing & Benefits</a>
                    </td>
                </tr>
                <tr>
                    <td>Bronze</td>
                    <td>
                        <a href="" ng-click="vm.selectedSponsor('Bronze')">Edit Pricing & Benefits</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-lg-10 title-field">
            <button class="btn btn-ar btn-default" ng-click="vm.reset()">Reload</button>
            <button class="btn btn-ar btn-primary" ng-click="vm.saveInstructions()" ng-disabled="vm.loading">Save</button>
        </div>
    </div>

    <!--Specify sponsor benefits-->
    <div class="modal fade" id="editSponsorBenefits" tabindex="-1" role="dialog" aria-labelledby="editSponsorBenefitsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Edit {{vm.sponsorType}}</h4>
                </div>
                <div class="modal-body">
                    <form name="editSponsorForm">
                        <label class="after-title-field">Pricing:</label>
                        <input name="cost" type="number" ng-pattern="/^[1-9][0-9]{0,2}(?:,?[0-9]{3}){0,3}(?:\.[0-9]{1,2})?$/" step="any" ng-model="vm.amount" />
                        <label class="help-inline" ng-show="editSponsorForm.cost.$invalid">Invalid cost.</label><br />
                        <label>Benefits:</label><p class="after-title-field2">You can specify up to 10 benefits.</p>
                        <table class="table after-title-field" id="benefitstable">
                            <thead>
                                <tr>
                                    <th class="text-left"></th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="text-left"><input class="inputSize" type="text" ng-model="vm.benefits.benefit1" /></td>
                                    <td class="text-left"><input class="inputSize" type="text" ng-model="vm.benefits.benefit2" /></td>
                                </tr>

                                <tr>
                                    <td class="text-left"><input class="inputSize" type="text" ng-model="vm.benefits.benefit3" /></td>
                                    <td class="text-left"><input class="inputSize" type="text" ng-model="vm.benefits.benefit4" /></td>
                                </tr>

                                <tr>
                                    <td class="text-left"><input class="inputSize" type="text" ng-model="vm.benefits.benefit5" /></td>
                                    <td class="text-left"><input class="inputSize" type="text" ng-model="vm.benefits.benefit6" /></td>
                                </tr>

                                <tr>
                                    <td class="text-left"><input class="inputSize" type="text" ng-model="vm.benefits.benefit7" /></td>
                                    <td class="text-left"><input class="inputSize" type="text" ng-model="vm.benefits.benefit8" /></td>
                                </tr>

                                <tr>
                                    <td class="text-left"><input class="inputSize" type="text" ng-model="vm.benefits.benefit9" /></td>
                                    <td class="text-left"><input class="inputSize" type="text" ng-model="vm.benefits.benefit10" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" ng-disabled="editSponsorForm.$invalid || vm.loading" ng-click="vm.saveBenefits()">Save</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal" ng-click="vm.clear()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal update confirmation-->
    <div class="modal fade" id="updateConfirm" tabindex="-1" role="dialog" aria-labelledby="updateConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="updateConfirmLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The information has been updated.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!--Error modal confirmation-->
    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>

</div>