<div ng-controller="bannerCtrl as vm">
    <h2 class="section-title">Our Sponsors</h2>
    <section class="carousel">
        <div id="homeCarousel" class="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- Start Logos -->
                <div class="item active">
                        <div class="container">
                            <div class="row diamond-style">
                                <center>
                                    <h1 style="padding-top:20px;">CCWiC</h1>
                                    <h1 style="padding-top:20px;">Sponsor Now!</h1>
                                </center>
                            </div>
                        </div>
                </div>

                <!--Display one logo per Diamond sponsor slide-->
                <div id="diamondBanner" class="item" ng-repeat="sponsor in vm.diamondSponsors">
                    <h4 class="reduced-margin2">Diamond Sponsor</h4>
                    <div class="container">
                        <div class="row diamond-style">
                            <center>
                                <div ng-if="sponsor.logo">
                                    <img class="img-size img-responsive img-response" ng-src="{{sponsor.logo}}" />
                                </div>
                            </center>
                        </div>
                    </div>
                </div>

                <!--Display two logos per Platinum sponsor slide-->
                <div class="item" ng-repeat="sponsor in vm.platinumBanner">
                    <h4 class="reduced-margin2">Platinum Sponsors</h4>
                    <div class="platinum-container">
                        <div class="row">
                            <center>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 platinum-style" ng-repeat="images in sponsor">
                                    <div ng-if="images.logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{images.logo}}" />
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>

                <!--Display four logos per Gold Sponsor slide-->
                <div class="item" ng-repeat="sponsor in vm.goldBanner">
                    <h4 class="reduced-margin2">Gold Sponsors</h4>
                    <div class="gold-container">
                        <div class="row">
                            <center>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gold-style" ng-if="sponsor.length > 0">
                                    <div ng-if="sponsor[0].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[0].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gold-style" ng-if="sponsor.length > 1">
                                    <div ng-if="sponsor[1].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[1].logo}}" />
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="row">
                            <center>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gold-style" ng-if="sponsor.length > 2">
                                    <div ng-if="sponsor[2].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[2].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gold-style" ng-if="sponsor.length > 3">
                                    <div ng-if="sponsor[3].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[3].logo}}" />
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>

                <!--Dipslay six logos per Silver Sponsor website-->
                <div class="item" ng-repeat="sponsor in vm.silverBanner">
                    <h4 class="reduced-margin2">Silver Sponsors</h4>
                    <div class="silver-container">
                        <div class="row">
                            <center>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 silver-style" ng-if="sponsor.length > 0">
                                    <div ng-if="sponsor[0].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[0].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 silver-style" ng-if="sponsor.length > 1">
                                    <div ng-if="sponsor[1].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[1].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 silver-style" ng-if="sponsor.length > 2">
                                    <div ng-if="sponsor[2].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[2].logo}}" />
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="row">
                            <center>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 silver-style" ng-if="sponsor.length > 3">
                                    <div ng-if="sponsor[3].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[3].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 silver-style" ng-if="sponsor.length > 4">
                                    <div ng-if="sponsor[4].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[4].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 silver-style" ng-if="sponsor.length > 5">
                                    <div ng-if="sponsor[5].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[5].logo}}" />
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>

                <!--Display eight logos per Bronze sponsors slide-->
                <div class="item" ng-repeat="sponsor in vm.bronzeBanner">
                    <h4 class="reduced-margin2">Bronze Sponsors</h4>
                    <div class="bronze-container">
                        <div class="row">
                            <center>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bronze-style" ng-if="sponsor.length > 0">
                                    <div ng-if="sponsor[0].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[0].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bronze-style" ng-if="sponsor.length > 1">
                                    <div ng-if="sponsor[1].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[1].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bronze-style" ng-if="sponsor.length > 2">
                                    <div ng-if="sponsor[2].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[2].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bronze-style" ng-if="sponsor.length > 3">
                                    <div ng-if="sponsor[3].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[3].logo}}" />
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="row">
                            <center>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bronze-style" ng-if="sponsor.length > 4">
                                    <div ng-if="sponsor[4].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[4].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bronze-style" ng-if="sponsor.length > 5">
                                    <div ng-if="sponsor[5].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[5].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bronze-style" ng-if="sponsor.length > 6">
                                    <div ng-if="sponsor[6].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[6].logo}}" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bronze-style" ng-if="sponsor.length > 7">
                                    <div ng-if="sponsor[7].logo">
                                        <img class="img-size img-responsive img-response" ng-src="{{sponsor[7].logo}}" />
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Logos -->
            <!-- Controls 
            <a class="left carousel-control" href="#homeCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#homeCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>-->
        </div>
    </section> <!-- carousel -->
    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>
</div>