<div ng-controller="changePassCtrl as vm">
    <div class="login-form-full">
        <div class="fix-box">
            <div class="text-center title-logo animated fadeInDown animation-delay-5"><span>CCWiC</span></div>
            <div class="transparent-div no-padding animated fadeInUp animation-delay-8">
                <ul class="nav nav-tabs nav-tabs-transparent">
                    <li><a href="#/Login/Recover" data-toggle="tab">Recover Password</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div class="tab-pane active" id="home">
                        <form role="form" name="signForm" novalidate>
                            <div class="form-group">
                                <div ng-hide="vm.loged" class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="email" name="email" class="form-control" placeholder="Email" ng-model="vm.credentials.email" required>
                                </div>
                                
                                <p ng-show="signForm.email.$invalid && !signForm.email.$pristine" class="help-block">Email is required.</p>

                                <br>
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" name="tempPass" placeholder="{{vm.placeholder}}" ng-model="vm.credentials.password" ng-minlength="8" ng-maxlength="15" required>
                                </div>
                                <p ng-show="(signForm.tempPass.$invalid && !signForm.tempPass.$pristine) " class="help-block">{{vm.placeholder}} is required.</p>
                    

                                <br>
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" name="newPass" placeholder="New Password" ng-model="vm.credentials.newPass" ng-minlength="8" ng-maxlength="15" required>
                                </div>
                                <p ng-show="signForm.newPass.$invalid && !signForm.newPass.$pristine" class="help-block" ng-minlength="8" ng-maxlength="15">Password is required minimun Lenght 8 and maximun lenght 15 characters.</p>

                                <br>
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="New Password Confirmation" name="newPassConfirm" ng-model=" vm.credentials.newPassConfirm" ng-minlength="8" ng-maxlength="15" pw-check="vm.credentials.newPass" required>
                               </div>
                               <p ng-show="vm.credentials.newPass !== vm.credentials.newPassConfirm">Passwords do not match.</p>

                                <br>
                                <div class="col-lg-12" ng-show="vm.loadingUploading">
                                    <h3><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Updating </h3>
                                </div>
                                {{vm.message}}<button type="submit" class="btn btn-ar btn-primary pull-right" ng-click="vm.changePassword()" ng-disabled="((vm.loged ==false && signForm.email.$invalid ))||(signForm.tempPass.$invalid ||signForm.newPass.$invalid||signForm.newPassConfirm.$invalid ||vm.credentials.newPass!=vm.credentials.newPassConfirm ||vm.loadingUploading)">Change Password</button>
                              
                                <div class="clearfix"></div>
                            </div>
                        </form>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback="vm.goTo()"></modal>
    </div>
</div>

