<div ng-controller="loginCtrl as vm">
    
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="EmailInput">Email<sup>*</sup></label>
                <input type="email" class="form-control" id="InputPassword">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="InputPassword">Confirm Password<sup>*</sup></label>
                <input type="password" class="form-control" id="InputPassword">
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <button type="submit" class="btn btn-ar btn-primary pull-right">Add</button>
        </div>
    </div>

</div>

