<div ng-controller="profileAuthorizationCtrl as vm">
    <h4 id="g-information">Authorization</h4>
    <div class="col-lg-12">
        <span class="big-text">①</span> <b>Download</b> the Templates provided below. <br />
        <span class="big-text">②</span> Have your parent or guardian <b>Complete</b> them.<br />
        <span class="big-text">③</span> <b>Upload</b> the completed documents.<br />
        <span class="big-text">④</span> <b>Apply</b> to the conference.<br />
    </div>


    <div class="col-lg-5">
        <h5>Templates:</h5>

        <div class="templates-list table-box">
            <ul class="list-group list-group-striped">
                <li ng-repeat="temp in vm.templatesList" class="list-group-item">{{temp.templateName}}<a href="" ng-mouseover="vm.downloadTemplate(temp.templateID)" ng-mouseleave="vm.resetDownloadLink(temp.templateID)" id="file-{{temp.templateID}}" class="right">Download</a></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-2">

        <div class="left">
            <div class="upload-caption">
                <span ng-show="vm.myFile.name"><i class="fa fa-file-o"></i> {{vm.myFile.name}}</span>
            </div>
            <div class="input-group-btn">
                <div class="btn btn-default btn-file full-width"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input id="input-1a" type="file" class="file" name="upload" file-model="vm.myFile" on-read-file="showContent($fileContent)"></div>
                <br /><br /><button type="submit" ng-disabled="vm.myFile == null" class="full-width btn btn-primary btn-ar kv-fileinput-upload fileinput-upload-button" ng-click="vm.uploadDocument()"><i class="glyphicon glyphicon-upload"></i> Upload</button>
            </div>
            <p ng-show="vm.ext" class="help-block">* Try .doc, .docx, .ppt, .pdf files.</p>
        </div>

    </div>

    <div class="col-lg-5">
        <h5>Uploaded Documents:</h5>
        <div class="templates-list table-box">
            <ul class="list-group list-group-striped">
                <li ng-repeat="doc in vm.documentsList" class="list-group-item">
                <div class="one-line-high">
                    <span class="authorization-list">{{doc.authorizationName}}</span>
                    <span class="right"><a href="" ng-mouseover="vm.downloadDocument(doc.authorizationID)" ng-mouseleave="vm.resetDownloadLink(doc.authorizationID)" id="file-{{doc.authorizationID}}"> View</a> <span ng-hide="vm.hasApplied">| <a href="" data-toggle="modal" data-target="#delete" ng-click="vm.selectedDocumentDelete(doc.authorizationID)">Delete</a></span></span>
                </div>
                </li>
            </ul>
        </div>
        <div class="block line-tall">
            <p ng-show="vm.documentsList.length != vm.templatesList.length">*You must upload every document before you can Apply.</p>
        </div>
    </div>


    <div class="col-lg-12">
        <br />
        Apply to the conference.<br /><br />
        <button class="btn btn-ar btn-primary" ng-click="vm.apply()" ng-disabled="vm.documentsList.length != vm.templatesList.length || vm.hasApplied">Apply</button>
        <span ng-show="vm.hasApplied" class="padding-5 alert-success half-width">Successfully applied.</span>
    </div>


    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteLabel">Remove Document Notice!</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this Document?<br /> This action is irreversible.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.deleteDocument()">Remove</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>
</div>