<h3>Payment Bills</h3><br /><!--View in Pfofile sponsor to view Payment Bills -->
<div ng-controller="profileSponsorBillCtrl as vm">


    <div ng-show="vm.messageVisible">{{vm.noPaymentMessage}}</div>  
    <div class="  col-sm-4 col-md-4">
        <div ng-repeat="payment in  vm.bills ">
            <a href="" ng-click="vm.selectedReceipt(payment)" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" class="collapsed">
                Receipt: {{payment.affiliationName}} - {{payment.transactionid}}
            </a>

        </div>
    </div>
      
    
           
    <div ng-hide="vm.messageVisible" class="col-md-8" >
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">

                <div class="panel-heading panel-heading-link">
                    <a ng-click="vm.close()" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" class="collapsed">
                        Receipt: {{vm.payment.affiliationName}} - {{vm.payment.transactionid}}
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div ng-hide="vm.loading" class="col-lg-12 margin-fix-banner">
                            <br />
                            <div class="row">
                                <h2 id="g-information">Receipt Information </h2>
                            </div>
                            <div class="row">
                                <div class="  col-xm-3 col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">Merchant Name:</span>
                                </div>
                                <div class=" col-sm-6 col-md-6">
                                    Caribbean Celebration of Women in Computing (UPRM)
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-xm-3 col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">URL:</span>
                                </div>
                                <div class=" col-xm-3 col-sm-3 col-md-3">
                                    http://secure.uprm.edu
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">Registration by:</span>
                                </div>
                                <div class=" col-xm-5 col-sm-5 col-md-5">
                                    {{vm.payment.userFirstName}} {{vm.payment.userLastName}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xm-3 col-sm-3 col-md-3print-align">
                                    <span class="label-simple">Affiliation:</span>
                                </div>
                                <div class=" col-xm-5 col-sm-5 col-md-5">
                                    {{vm.payment.affiliationName}}
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xm-3 col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">Paid by:</span>
                                </div>
                                <div class=" col-xm-5 col-sm-5 col-md-5">
                                    {{vm.payment.firstName}} {{vm.payment.lastName}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xm-3 col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">Date:</span>
                                </div>
                                <div class="col-xm-5 col-sm-5 col-md-5">
                                    {{vm.payment.date.split('T')[0].split('-')[2]}} / {{vm.payment.date.split('T')[0].split('-')[1]}} / {{vm.payment.date.split('T')[0].split('-')[0].split('-')[0]}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xm-3 col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">Time:</span>
                                </div>
                                <div class=" col-xm-5 col-sm-5 col-md-5">
                                    {{vm.payment.date.substr(11, 5)}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xm-3 col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">TransactionID:</span>
                                </div>
                                <div class=" col-xm-5 col-sm-5 col-md-5">
                                    {{vm.payment.transactionid}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xm-3 col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">Tandem Id:</span>
                                </div>
                                <div class=" col-xm-5 col-sm-5 col-md-5">
                                    {{vm.payment.tandemID}}
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-xm-3 col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">Method:</span>
                                </div>

                                <div class=" col-xm-5 col-sm-5 col-md-5">
                                    {{vm.payment.methodOfPayment}}
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-xm-3 col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">Amount Paid:</span>
                                </div>
                                <div class="col-xm-3 col-sm-3 col-md-3">
                                    ${{vm.payment.amountPaid | number:2 }}
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-xm-3 col-sm-3 col-md-3 print-align">
                                    <span class="label-simple">User Type:</span>
                                </div>
                                <div class="col-xm-3 col-sm-3 col-md-3">
                                    Sponsor
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-md-3 print-align">
                                    <span class="label-simple">Description</span>
                                </div>
                                <div class="col-xm-5 col-sm-5 col-md-5">
                                    {{vm.payment.description}}
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-12 print-align">
                                    <button class="btn btn-ar btn-primary right noPrint" onclick="window.print();">Download Bill</button>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-1"></div>

    </div>

        </div>

        <div class="col-lg-6">
            <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
        </div>
    <div class="col-lg-12 uploading-top" ng-show="vm.loading">
        <h3><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
    </div>
    </div>