<div ng-controller="profileSubmissionCtrl as vm">
    <div ng-show="vm.view == 'Home'">
        <h4 id="g-information">My Submissions</h4>
        <div ng-hide="vm.submissionlist.length">
            <p class="title-field">No content to display.</p>
            <a class="btn btn-default" ng-click="vm.getAssignedSubmissions(vm.sindex)"><i class="glyphicon glyphicon-repeat"></i> Refresh</a>
            <!-----------------------loading start--------------------->
            <div class="col-lg-12" ng-show="vm.uploadingComp">
                <h3><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>Loading</h3>
            </div>
            <!-----------------------loading end--------------------->
        </div>
        <div ng-show="vm.submissionlist.length">
            <table ng-table="tableParams" show-filter="true" class="table row">
                <thead>
                    <tr>
                        <th><b>Title</b></th>
                        <th><b>Type</b></th>
                        <th><b>Manage</b></th>
                        <th><b>Status</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="submission in vm.submissionlist">

                        <td class="text-left"><i class="fa fa-file-text-o"> </i><a href="" data-toggle="modal" data-target="#viewSubmission" ng-click="vm.viewTheView(submission.submissionTypeName, submission.submissionID)"> {{submission.submissionTitle}}</a></td>
                        <td>{{submission.submissionTypeName}}</td>
                        <td>
                            <a ng-hide="submission.isAssigned || submission.status != 'Pending'" href="" data-toggle="modal" data-target="#editSubmissionModal" ng-click="vm.selectedSubmission(submission.topiccategoryID); vm.viewEditForm(submission.submissionID); vm.clear();">Edit </a><span ng-hide="submission.isAssigned || submission.status != 'Pending'"> | </span>
                            <a ng-hide="submission.isAssigned || submission.status != 'Pending'" href="" data-toggle="modal" data-target="#deleteSubmission" ng-click="vm.deleteSelectedSubmission(submission.submissionID) ">Delete</a>
                            <a ng-show="submission.finalSubmissionAllowed && !submission.isFinalSubmission" href="" data-toggle="modal" data-target="#addSubmissionModal" ng-click="vm.selectFinalversion(submission.submissionID); vm.clear(); vm.checkDeadline(vm.TYPE.submissionTypeID)">Add final version</a>

                        </td>
                        <td>
                            <span ng-show="submission.status == 'Accepted'" class="accepted"><i class="fa fa-check"> </i> Accepted</span>
                            <span ng-show="submission.status == 'Pending'" class="pending"><i class="fa fa-refresh"> </i> Pending</span>
                            <span ng-show="submission.status == 'Rejected'" class="rejected"><i class="glyphicon glyphicon-remove"></i> Rejected</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>            
            <br />
            <!-------------------------------------------------ADD SUBMISSION---------------------------------------------------->

            <select ng-model="vm.TYPE"
                    ng-options="type as type.submissionTypeName for type in vm.submissionTypeList" required></select>
        <button data-toggle="modal" data-target="#addSubmissionModal" ng-click="vm.checkDeadline(vm.TYPE.submissionTypeID); vm.viewAdd();" class="btn btn-ar btn-primary">Add New</button>
            <br />
        </div>

    <div class="modal fade" id="addSubmissionModal" tabindex="-1" role="dialog" aria-labelledby="evaluationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" ng-show="vm.onTime || vm.viewModal == 'addFinal'">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 ng-show="vm.viewModal == 'Add'" class="modal-title" id="evaluationModalLabel">Add {{vm.TYPE.submissionTypeName}}</h4>
                    <h4 ng-show="vm.viewModal == 'addFinal'" class="modal-title" id="evaluationModalLabel">Add Final Submission</h4>
                </div>

                <div class="modal-body">
                    <div class="panel padding-10">
                        <form name="addSubmissionForm" novalidate>
                            <div>
                                <label>Title</label><br />
                                <textarea class="form-control" name="modalsubmissionTitle" ng-model="vm.modalsubmissionTitle" required>{{vm.modalsubmissionTitle}}</textarea>
                                <p ng-show="addSubmissionForm.modalsubmissionTitle.$invalid && !addSubmissionForm.modalsubmissionTitle.$pristine" class="help-block">Title is required.</p>
                            </div>
                            <div>
                                <label>Topic:</label><br />
                                <select ng-model="vm.CTYPE"
                                        ng-options="type as type.name for type in vm.topicsList"></select>
                            </div>
                            <div>
                                <label>Abstract <other ng-show="vm.TYPE.submissionTypeID == 4">&amp; Brief Description</other></label><br />
                                <textarea class="form-control" name="modalsubmissionAbstract" ng-model="vm.modalsubmissionAbstract" required>{{vm.modalsubmissionAbstract}}</textarea>
                                <p ng-show="addSubmissionForm.modalsubmissionAbstract.$invalid && !addSubmissionForm.modalsubmissionAbstract.$pristine" class="help-block">Abstract is required.</p>
                            </div>
                            <div ng-show="vm.TYPE.submissionTypeID == 3">
                                <label>List of panelists with their biographies</label><br />
                                <textarea class="form-control" name="modalpanelistNames" ng-model="vm.modalpanelistNames" required>{{vm.modalpanelistNames}}</textarea>
                                <p ng-show="addSubmissionForm.modalpanelistNames.$invalid && !addSubmissionForm.modalpanelistNames.$pristine" class="help-block">Panelist Names are required.</p>
                            </div>
                            <div ng-show="vm.TYPE.submissionTypeID == 5">
                                <label>Duration</label><br />
                                <textarea class="form-control" name="modalduration" ng-model="vm.modalduration" required>{{vm.modalduration}}</textarea>
                                <p ng-show="addSubmissionForm.modalduration.$invalid && !addSubmissionForm.modalduration.$pristine" class="help-block">Duration is required.</p>
                            </div>
                            <div ng-show="vm.TYPE.submissionTypeID == 5">
                                <label>Delivery</label><br />
                                <textarea class="form-control" name="modaldelivery" ng-model="vm.modaldelivery" required>{{vm.modaldelivery}}</textarea>
                                <p ng-show="addSubmissionForm.modaldelivery.$invalid && !addSubmissionForm.modaldelivery.$pristine" class="help-block">Delivery is required.</p>
                            </div>
                            <div ng-show="vm.TYPE.submissionTypeID == 3 || vm.TYPE.submissionTypeID == 5">
                                <label>Plan</label><br />
                                <textarea class="form-control" name="modalplan" ng-model="vm.modalplan" required>{{vm.modalplan}}</textarea>
                                <p ng-show="addSubmissionForm.modalplan.$invalid && !addSubmissionForm.modalplan.$pristine" class="help-block">Plan is required.</p>
                            </div>
                            <div ng-show="vm.TYPE.submissionTypeID == 3">
                                <label>Guiding Questions</label><br />
                                <textarea class="form-control" name="modalguideQuestions" ng-model="vm.modalguideQuestions" required>{{vm.modalguideQuestions}}</textarea>
                                <p ng-show="addSubmissionForm.modalguideQuestions.$invalid && !addSubmissionForm.modalguideQuestions.$pristine" class="help-block">Guide Questions are required.</p>
                            </div>
                            <div ng-show="vm.TYPE.submissionTypeID == 3">
                                <label>Format Description</label><br />
                                <textarea class="form-control" name="modalformat" ng-model="vm.modalformat" required>{{vm.modalformat}}</textarea>
                                <p ng-show="addSubmissionForm.modalformat.$invalid && !addSubmissionForm.modalformat.$pristine" class="help-block">Format is required.</p>
                            </div>
                            <div ng-show="vm.TYPE.submissionTypeID == 3 || vm.TYPE.submissionTypeID == 5">
                                <label>Necessary Equipment</label><br />
                                <textarea class="form-control" name="modalequipment" ng-model="vm.modalequipment" required>{{vm.modalequipment}}</textarea>
                                <p ng-show="addSubmissionForm.modalequipment.$invalid && !addSubmissionForm.modalequipment.$pristine" class="help-block">Equipment is required.</p>
                            </div>

                            <div ng-hide="vm.TYPE.submissionTypeID == 4">
                                <label>Uploaded Documents:</label>
                                <div class="templates-list table-box">
                                    <ul class="list-group list-group-striped">
                                        <li ng-repeat="doc in vm.documentsList" class="list-group-item">{{doc.documentName}} <span class="right"><a href="" ng-click="vm.deleteDocument(doc)">Delete</a></span></li>
                                    </ul>
                                </div>


                                <div class="document-name text-right">
                                    <span ng-show="vm.myFile.name"><i class="fa fa-file-o"></i> {{vm.myFile.name}}</span>
                                </div>

                                <div class="right">
                                    <button class="btn btn-ar btn-primary" ng-click="vm.addDocument()" ng-disabled="vm.myFile.name == null || vm.myFile.name == ''">Add</button>
                                </div>
                                <div class="col-md-4 right">
                                    <div class="input-group-btn">
                                        <div class="btn btn-default btn-file full-width"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input id="documentFile" type="file" class="form-control" ng-model="vm.modalevaluationFile" name="upload" file-model="vm.myFile" on-read-file="showContent($fileContent)" required></div>
                                    </div>
                                    <p ng-show="vm.ext" class="help-block">* Try .doc, .docx, .ppt, .pdf files.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                <div class ="col-xs-8 col-sm-8 col-md-8">
                    <button ng-show="vm.TYPE.submissionTypeID == 1" ng-disabled="vm.loading || addSubmissionForm.modalsubmissionTitle.$invalid || addSubmissionForm.modalsubmissionAbstract.$invalid" class="btn btn-ar btn-primary left" ng-click="vm.addSubmission(myFile)">
                        Submit
                    </button>
                    <button ng-show="vm.TYPE.submissionTypeID == 2" ng-disabled="vm.loading || addSubmissionForm.modalsubmissionTitle.$invalid || addSubmissionForm.modalsubmissionAbstract.$invalid" class="btn btn-ar btn-primary left" ng-click="vm.addSubmission(myFile)">Submit</button>
                    <button ng-show="vm.TYPE.submissionTypeID == 3" ng-disabled=" vm.loading || addSubmissionForm.modalsubmissionTitle.$invalid || addSubmissionForm.modalsubmissionAbstract.$invalid ||
                                    addSubmissionForm.modalpanelistNames.$invalid || addSubmissionForm.modalplan.$invalid || addSubmissionForm.modalguideQuestions.$invalid ||
                                    addSubmissionForm.modalformat.$invalid || addSubmissionForm.modalequipment.$invalid" class="btn btn-ar btn-primary left"  ng-click="vm.addSubmission(myFile)">
                        Submit
                    </button>
                    <button ng-show="vm.TYPE.submissionTypeID == 4" ng-disabled="vm.loading || addSubmissionForm.modalsubmissionTitle.$invalid || addSubmissionForm.modalsubmissionAbstract.$invalid" class="btn btn-ar btn-primary left" ng-click="vm.addSubmission(myFile)">Submit</button>
                    <button ng-show="vm.TYPE.submissionTypeID == 5" ng-disabled="vm.loading || addSubmissionForm.modalsubmissionTitle.$invalid || addSubmissionForm.modalsubmissionAbstract.$invalid ||
                                    addSubmissionForm.modalduration.$invalid || addSubmissionForm.modaldelivery.$invalid || addSubmissionForm.modalplan.$invalid ||
                                    addSubmissionForm.modalequipment.$invalid" class="btn btn-ar btn-primary left"  ng-click="vm.addSubmission(myFile)">
                        Submit
                    </button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                    </div>
                     <div class="col-xs-3 col-sm-3 col-md-3  loading-right" ng-show="vm.loading">
          				  <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
        			</div>
                </div>
            </div>

            <!------- Deadline Alert ------->
            <div class="modal-content" ng-hide="vm.onTime || vm.viewModal == 'addFinal'">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5>Add Submission Alert!</h5>
                </div>

                <div class="modal-body">
                    The deadline of this type of submission has already passed.
                </div>

                <div class="modal-footer">
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!------------------------------>

        </div>
        
    </div>

    <!---------------------------------------------------------------add submission end---------------------------------------->
    <!---------------------------------------------EDIT START------------------------------------------------------------------>
    <div class="modal fade" id="editSubmissionModal" tabindex="-1" role="dialog" aria-labelledby="evaluationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 ng-show="vm.viewModal == 'Edit'" class="modal-title" id="evaluationModalLabel">Edit {{vm.modalsubmissionTypeName}}</h4>
                </div>

                <div class="modal-body">                   
                        <div class="panel padding-10">
                            <form name="editSubmissionForm" novalidate>
                                <div>
                                    <label>Title</label><br />
                                    <textarea class="form-control" name="modalsubmissionTitle" ng-model="vm.modalsubmissionTitle" required>{{vm.modalsubmissionTitle}}</textarea>
                                    <p ng-show="editSubmissionForm.modalsubmissionTitle.$invalid" class="help-block">Title is required.</p>
                                </div>
                                <div>
                                    <label>Topic:</label><br />
                                    <select ng-model="vm.CTYPE"
                                            ng-options="type as type.name for type in vm.topicsList"></select>
                                </div>
                                <div>
                                    <label>Abstract <other ng-show="vm.TYPE.submissionTypeID == 4">&amp; Brief Description</other></label><br />
                                    <textarea class="form-control" name="modalsubmissionAbstract" ng-model="vm.modalsubmissionAbstract" required>{{vm.modalsubmissionAbstract}}</textarea>
                                    <p ng-show="editSubmissionForm.modalsubmissionAbstract.$invalid" class="help-block">Abstract is required.</p>
                                </div>
                                <div ng-show="vm.modalsubmissionTypeID == 3">
                                    <label>List of panelists with their biographies</label><br />
                                    <textarea class="form-control" name="modalpanelistNames" ng-model="vm.modalpanelistNames" required>{{vm.modalpanelistNames}}</textarea>
                                    <p ng-show="editSubmissionForm.modalpanelistNames.$invalid" class="help-block">Panelist Names are required.</p>
                                </div>
                                <div ng-show="vm.modalsubmissionTypeID == 5">
                                    <label>Duration</label><br />
                                    <textarea class="form-control" name="modalduration" ng-model="vm.modalduration" required>{{vm.modalduration}}</textarea>
                                    <p ng-show="editSubmissionForm.modalduration.$invalid" class="help-block">Duration is required.</p>
                                </div>
                                <div ng-show="vm.modalsubmissionTypeID == 5">
                                    <label>Delivery</label><br />
                                    <textarea class="form-control" name="modaldelivery" ng-model="vm.modaldelivery" required>{{vm.modaldelivery}}</textarea>
                                    <p ng-show="editSubmissionForm.modaldelivery.$invalid" class="help-block">Delivery is required.</p>
                                </div>
                                <div ng-show="vm.modalsubmissionTypeID == 3 || vm.modalsubmissionTypeID == 5">
                                    <label>Plan</label><br />
                                    <textarea class="form-control" name="modalplan" ng-model="vm.modalplan" required>{{vm.modalplan}}</textarea>
                                    <p ng-show="editSubmissionForm.modalplan.$invalid" class="help-block">Plan is required.</p>
                                </div>
                                <div ng-show="vm.modalsubmissionTypeID == 3">
                                    <label>Guiding Questions</label><br />
                                    <textarea class="form-control" name="modalguideQuestions" ng-model="vm.modalguideQuestions" required>{{vm.modalguideQuestions}}</textarea>
                                    <p ng-show="editSubmissionForm.modalguideQuestions.$invalid" class="help-block">Guide Questions are required.</p>
                                </div>
                                <div ng-show="vm.modalsubmissionTypeID == 3">
                                    <label>Format Description</label><br />
                                    <textarea class="form-control" name="modalformat" ng-model="vm.modalformat" required>{{vm.modalformat}}</textarea>
                                    <p ng-show="editSubmissionForm.modalformat.$invalid" class="help-block">Format is required.</p>
                                </div>
                                <div ng-show="vm.modalsubmissionTypeID == 3 || vm.modalsubmissionTypeID == 5">
                                    <label>Necessary Equipment</label><br />
                                    <textarea class="form-control" name="modalequipment" ng-model="vm.modalequipment" required>{{vm.modalequipment}}</textarea>
                                    <p ng-show="editSubmissionForm.modalequipment.$invalid" class="help-block">Equipment is required.</p>
                                </div>
                                <div ng-hide="vm.modalsubmissionTypeID == 4">
                                    <label>Uploaded Documents:</label>
                                    <div class="templates-list table-box">
                                        <ul class="list-group list-group-striped">
                                            <li ng-repeat="doc in vm.documentsList" class="list-group-item">{{doc.documentName}} <span class="right"><a href="" ng-click="vm.deleteDocument(doc)">Delete</a></span></li>
                                        </ul>
                                    </div>


                                    <div class="document-name text-right">
                                        <span ng-show="vm.myFile.name"><i class="fa fa-file-o"></i> {{vm.myFile.name}}</span>
                                    </div>

                                    <div class="right">
                                        <button class="btn btn-ar btn-primary" ng-click="vm.addDocument()" ng-disabled="vm.myFile.name == null || vm.myFile.name == ''">Add</button>
                                    </div>
                                    <div class="col-md-4 right">
                                        <div class="input-group-btn">
                                            <div class="btn btn-default btn-file full-width"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input id="documentFile" type="file" class="file form-control" ng-model="vm.modalevaluationFile" name="upload" file-model="vm.myFile" on-read-file="showContent($fileContent)" required></div>
                                        </div>
                                        <p ng-show="vm.ext" class="help-block">* Try .doc, .docx, .ppt, .pdf files.</p>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
                <div class="modal-footer">
                <div class ="col-xs-8 col-sm-8 col-md-8">
                    <button ng-show="vm.modalsubmissionTypeID == 1" ng-disabled="vm.loading || editSubmissionForm.modalsubmissionTitle.$invalid || editSubmissionForm.modalsubmissionAbstract.$invalid" class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.addSubmission(myFile)">
                        Submit
                    </button>
                    <button ng-show="vm.modalsubmissionTypeID == 2" ng-disabled="vm.loading || editSubmissionForm.modalsubmissionTitle.$invalid || editSubmissionForm.modalsubmissionAbstract.$invalid" class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.addSubmission(myFile)">Submit</button>
                    <button ng-show="vm.modalsubmissionTypeID == 3" ng-disabled="vm.loading || editSubmissionForm.modalsubmissionTitle.$invalid || editSubmissionForm.modalsubmissionAbstract.$invalid ||
                                    editSubmissionForm.modalpanelistNames.$invalid || editSubmissionForm.modalplan.$invalid || editSubmissionForm.modalguideQuestions.$invalid ||
                                    editSubmissionForm.modalformat.$invalid || editSubmissionForm.modalequipment.$invalid" class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.addSubmission(myFile)">
                        Submit
                    </button>
                    <button ng-show="vm.modalsubmissionTypeID == 4" ng-disabled="vm.loading || editSubmissionForm.modalsubmissionTitle.$invalid || editSubmissionForm.modalsubmissionAbstract.$invalid" class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.addSubmission(myFile)">Submit</button>
                    <button ng-show="vm.modalsubmissionTypeID == 5" ng-disabled="vm.loading || editSubmissionForm.modalsubmissionTitle.$invalid || editSubmissionForm.modalsubmissionAbstract.$invalid ||
                                    editSubmissionForm.modalduration.$invalid || editSubmissionForm.modaldelivery.$invalid || editSubmissionForm.modalplan.$invalid ||
                                    editSubmissionForm.modalequipment.$invalid" class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.addSubmission(myFile)">
                        Submit
                    </button>
                   
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button><br />
                     </div>
                    <div class="col-xs-3 col-sm-3 col-md-3  loading-right" ng-show="vm.loading">
           				 <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
        </div>
                </div>
            </div>
        </div>
        
    </div>
    <!---------------------------------------------edit end-------------------------------------------------------------------->

    <!--------------------------------VIEW START------------------------------------------------------------------------------->
    <div ng-show="vm.view == 'View'" class="container">
        <div class="panel-body">
            <h4>Title: {{vm.modalsubmissionTitle}}</h4>
            <div>
                <label>{{vm.modalsubmissionTypeName}}</label>
            </div>
            <div>
                <label>Topic category</label><br />{{vm.modaltopic}}
            </div>
            <div>
                <label>Abstract <other ng-show="vm.TYPE.submissionTypeID == 4">&amp; Brief Description</other></label><br />{{vm.modalsubmissionAbstract}}
            </div>
            <div ng-show="vm.modalsubmissionTypeID == 3">
                <label>List of panelists with their biographies</label><br />{{vm.modalpanelistNames}}
            </div>
            <div ng-show="vm.modalsubmissionTypeID == 5">
                <label>Duration</label><br />{{vm.modalduration}}
            </div>
            <div ng-show="vm.modalsubmissionTypeID == 5">
                <label>Delivery</label><br />{{vm.modaldelivery}}
            </div>
            <div ng-show="vm.modalsubmissionTypeID == 3 || vm.modalsubmissionTypeID == 5">
                <label>Plan </label><br />{{vm.modalplan}}
            </div>
            <div ng-show="vm.modalsubmissionTypeID == 3">
                <label>Guiding Questions</label><br />{{vm.modalguideQuestions}}
            </div>
            <div ng-show="vm.modalsubmissionTypeID == 3">
                <label>Format Description</label><br />{{vm.modalformat}}
            </div>
            <div ng-show="vm.modalsubmissionTypeID == 3 || vm.modalsubmissionTypeID == 5">
                <label>Necessary Equipment</label><br />{{vm.modalequipment}}
            </div>
            <div ng-hide="vm.modalsubmissionTypeID == 4 || vm.modalsubmissionFileList.length == 0">
                <label>Uploaded Document(s) </label><br />
                <div ng-repeat="file in vm.modalsubmissionFileList">
                    <a href="" ng-show="file.documentName" ng-mouseover="vm.downloadPDFFile(file.documentssubmittedID)" ng-mouseleave="vm.resetDownloadLink(file.documentssubmittedID)" id="file-{{file.documentssubmittedID}}" class="file-link"><i class="fa fa-file-text file-icon"></i> {{file.documentName}}</a>
                </div>
            </div>

            <div ng-show="vm.modalsubIsEvaluated">
                <label>Evaluation Feedback</label><br />{{vm.modalpublicFeedback}}
            </div>
            <!--show if submission has a previous version-->
            <div ng-show="vm.modalhasPrevVersion">
                <hr />
                <h4>Previous Version of Submission</h4>
                <div>
                    <label>Title</label><br/>{{vm.modalprevSubmissionTitle}}
                </div>
                <div>
                    <label>Topic</label><br/>{{vm.modalprevTopic}}
                </div>
                <div>
                    <label>Abstract <other ng-show="vm.TYPE.submissionTypeID == 4">&amp; Brief Description</other></label><br />{{vm.modalprevSubmissionAbstract}}
                </div>
                <div ng-show="vm.modalsubmissionTypeID == 3">
                    <label>List of panelists with their biographies</label><br />{{vm.modalprevPanelistNames}}
                </div>
                <div ng-show="vm.modalsubmissionTypeID == 5">
                    <label>Duration</label><br />{{vm.modalprevDuration}}
                </div>
                <div ng-show="vm.modalsubmissionTypeID == 5">
                    <label>Delivery</label><br />{{vm.modalprevDelivery}}
                </div>
                <div ng-show="vm.modalsubmissionTypeID == 5 || vm.modalsubmissionTypeID == 3">
                    <label>Plan</label><br />{{vm.modalprevPlan}}
                </div>
                <div ng-show="vm.modalsubmissionTypeID == 3">
                    <label>Guiding Questions</label><br />{{vm.modalprevGuideQuestions}}
                </div>
                <div ng-show="vm.modalsubmissionTypeID == 3">
                    <label>Format Description</label><br />{{vm.modalprevFormat}}
                </div>
                <div ng-show="vm.modalsubmissionTypeID == 5 || vm.modalsubmissionTypeID == 3">
                    <label>Necessary Equipment</label><br />{{vm.modalprevEquipment}}
                </div>
                <div ng-show="vm.modalprevSubmissionFileList.length != 0 || vm.modalsubmissionTypeID != 4">
                    <label>Uploaded Document(s) </label><br />
                    <div ng-repeat="file in vm.modalprevSubmissionFileList">
                        <a href="" ng-show="file.documentName" ng-mouseover="vm.downloadPDFFile(file.documentssubmittedID)" ng-mouseleave="vm.resetDownloadLink(file.documentssubmittedID)" id="file-{{file.documentssubmittedID}}" class="file-link"><i class="fa fa-file-text file-icon"></i> {{file.documentName}}</a>
                    </div>
                </div>
                <div ng-show="vm.modalprevSubIsEvaluated">
                    <label>Evaluation Feedback</label><br />{{vm.modalprevPublicFeedback}}
                </div>
            </div>
            <br />
            <button class="btn btn-ar btn-default" ng-click="vm.backToList()">Back</button>
        </div>
    </div>
    <!----------------------------------------------------VIEW END--------------------------------------------------------->    
    <!-----------------------------------------------DELETE START------------------------------------------------->
    <div class="modal fade" id="deleteSubmission" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteLabel">Remove Submission Notice!</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this Submission?<br /> This action is irreversible.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.deleteSubmission()">Remove</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------delete end-------------------------------------------------->
    <div class="col-xs-6 col-sm-6 col-md-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>
</div>

