<div ng-controller="profileBenefitsCtrl">

    <h4 id="g-information">Sponsor Benefits</h4>
    <div class="col-lg-3 col-sm-6">
        <div class="pricing-box">
            <div class="pricing-box-header platinum">
                <h2>Platinum</h2>
                <p>Benefits</p>
            </div>
            <div class="pricing-box-price">
                <h3>$ 6,000</h3>
            </div>
            <div class="pricing-box-content">
                <ul>
                    <li> <center>Panel Speaker</center></li>
                    <li> <center>Swag in bags</center></li>
                    <li> <center>Name in press release</center></li>
                    <li> <center>3 free company bookings</center></li>
                    <li> <center>Booth Table</center></li>
                </ul>
            </div>
        </div>
    </div>
</div>