<div class="row" ng-controller="profileInformationCtrl as vm">
    <h4 id="g-information">Application &amp; Registration Status:</h4>

    <center ng-hide="(vm.amountStatus.inTime == false && vm.amountStatus.inTimeLateFee == false) && vm.registrationStatus != 'Accepted'">
        <img src="../img/Application%20Steps/step_1_pending.png" ng-show="!vm.hasApplied && vm.userTypeID != 1 " />
        <img src="../img/Application%20Steps/step_1_finished.png" ng-show="vm.hasApplied && vm.userTypeID != 1 " />

        <img src="../img/Application%20Steps/step_1_minor_pending.png" ng-show="vm.userTypeID == 1 && !vm.hasApplied" />
        <img src="../img/Application%20Steps/step_1_minor_finished.png" ng-show="vm.userTypeID == 1 && vm.hasApplied" />

        <img src="../img/Application%20Steps/step_2_pending.png" ng-show="vm.acceptanceStatus == 'Pending'" />
        <img src="../img/Application%20Steps/step_2_finished.png" ng-show="vm.acceptanceStatus != 'Pending'" />

        <img src="../img/Application%20Steps/step_3_pending.png" ng-show="vm.acceptanceStatus == 'Pending'" />
        <img src="../img/Application%20Steps/step_3_finished.png" ng-show="vm.acceptanceStatus == 'Accepted'" />
        <img src="../img/Application%20Steps/step_3_rejected.png" ng-show="vm.acceptanceStatus == 'Rejected'" />

        <img src="../img/Application%20Steps/step_4_pending.png" ng-show="vm.registrationStatus != 'Accepted'" />
        <img src="../img/Application%20Steps/step_4_finished.png" ng-show="vm.registrationStatus == 'Accepted'" />
    </center><br />

    <div class="alert alert-warning" ng-hide="vm.hasApplied || ((vm.amountStatus.inTime == false && vm.amountStatus.inTimeLateFee == false) && vm.acceptanceStatus != 'Accepted' && vm.acceptanceStatus != 'Rejected')">
        <strong><i class="fa fa-info"></i></strong> You have not applied yet.
        <span ng-show="vm.userTypeID != 1">Please click the Apply button below to request acceptance from the administrator. Acceptance is subject to space availability.</span>
        <span ng-show="vm.userTypeID == 1">All minors must provide the required Authorization Documents in order to apply. Please go to the Authorization tab to complete your application.</span>
    </div>

    <div class="alert alert-info" ng-show="vm.hasApplied && (vm.registrationStatus == 'Pending') && (vm.acceptanceStatus == 'Pending') && (vm.amountStatus.inTime == false && vm.amountStatus.inTimeLateFee == false)==false">
        <strong><i class="fa fa-refresh"></i></strong> Your application is currently being processed. You will be notified when your application is reviewed.
    </div>

    <div class="alert alert-danger" ng-show="vm.acceptanceStatus == 'Rejected' && vm.registrationStatus != 'Rejected'">
        <strong><i class="fa fa-times"></i></strong> Your application has been <strong>REJECTED</strong>.
    </div>

    <div class="alert alert-danger" ng-show="vm.registrationStatus == 'Rejected'">
        <strong><i class="fa fa-times"></i></strong> Your registration has been <strong>REJECTED</strong>.
    </div>

    <div class="alert alert-info" ng-show="(vm.acceptanceStatus == 'Accepted' && (vm.registrationStatus == 'Pending')) && (vm.amountStatus.inTime == true || vm.amountStatus.inTimeLateFee == true)">
        <strong><i class="fa fa-bullhorn"></i></strong> Your application has been <strong>APPROVED</strong>. Please proceed with your Registration by clicking the Register button below.
    </div>

    <div class="alert alert-success" ng-show="vm.registrationStatus == 'Accepted'">
        <strong><i class="fa fa-check"></i></strong> Your Registration process has been completed.
    </div>

    <div class="alert alert-danger" ng-show="(vm.amountStatus.inTime == false && vm.amountStatus.inTimeLateFee == false) && vm.registrationStatus != 'Accepted'">
        <strong><i class="fa fa-times"></i></strong>Registration deadlines expired.
    </div>
    <div ng-hide="(vm.amountStatus.inTime == false && vm.amountStatus.inTimeLateFee == false)">
        <button class="btn btn-ar btn-primary" ng-disabled="vm.hasApplied" ng-click="vm.apply()" ng-hide="vm.userTypeID == 1">Apply</button>
        <button class="btn btn-ar btn-primary" ng-disabled="vm.acceptanceStatus != 'Accepted' || !vm.hasApplied || (vm.registrationStatus != 'Pending')" data-toggle="modal" data-target="#registerModal">Register</button>
    </div>


    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Registration</h2>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <p class="p-lg black-label col-md-12">Make sure your information is correct before submitting your registration.</p>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h4>General Information</h4>
                                <span class="block"><label>Title:</label> {{vm.title}}</span>
                                <span class="block"><label>Full name:</label> {{vm.firstName + ' ' + vm.lastName}}</span>
                                <span class="block"><label>Affiliation:</label> {{vm.affiliationName}}</span>
                            </div>                            
                            <div class="col-md-6">
                                <h4>Address</h4>
                                <span class="block">{{vm.addressLine1}}</span>
                                <span class="block">{{vm.addressLine2}}</span>
                                <span class="block">{{vm.city + ', '+ vm.state + ' ' + vm.zipcode}}</span>
                                <span class="block">{{vm.country}}</span>
                            </div>
                            <div class="col-md-6">
                                <h4>Contact Information</h4>
                                <span class="block"><label>Email:</label> {{vm.email}}</span>
                                <span class="block"><label>Phone:</label> {{vm.phone}}</span>
                                <span class="block"><label>Fax:</label> {{vm.userFax}} </span>
                            </div>

                            <div class="col-md-6">
                                <h4>Select Participation Days:</h4>
                                <input type="checkbox" name="participation1" ng-model="vm.date1" ng-checked="vm.checkAll" ng-show="vm.datesList[0]">&nbsp;&nbsp;{{vm.datesList[0]}}<br>
                                <input type="checkbox" name="participation2" ng-model="vm.date2" ng-checked="vm.checkAll" ng-show="vm.datesList[1]">&nbsp;&nbsp;{{vm.datesList[1]}}<br>
                                <input type="checkbox" name="participation3" ng-model="vm.date3" ng-checked="vm.checkAll" ng-show="vm.datesList[2]">&nbsp;&nbsp;{{vm.datesList[2]}}<br>
                                <!--<input type="checkbox" name="participationAll" ng-model="vm.checkAll" ng-checked="vm.date3 && vm.date3 && vm.date3">&nbsp;&nbsp;All-->
                            </div>                                

                            <div class="col-md-12" ng-show="vm.userTypeID == 1">
                                <br />
                                Enter the <b>Companion Key</b> of the adult in charge.<br />
                                <input type="text" name="key" ng-model="vm.companionKey" ng-readonly="vm.hasCompKey" required /> <button class="btn btn-ar btn-primary" ng-click="vm.selectCompanion(vm.companionKey)" ng-disabled="vm.hasCompKey || vm.correctKey">Submit</button>
                                <span ng-show="vm.wrongCompKey" class="padding-5 alert-danger half-width">The key you have provided is incorrect.</span>
                                <span ng-show="vm.correctKey" class="padding-5 alert-success half-width">Successfully added key.</span><br /><br />
                                <span ng-show="vm.correctKey && !vm.companionRegistered" class="padding-5 alert-danger half-width">But your companion has not registered yet.</span>
                            </div>

                            <div class="col-md-12">
                                <br />
                                If you have a <b>Complementary Key</b> please enter it below.<br />
                                <input type="text" name="key" ng-model="vm.key" ng-readonly="vm.hasKey" required /> <button class="btn btn-ar btn-primary" ng-click="vm.checkComplementaryKey(vm.key)" ng-disabled="vm.hasKey || vm.correctComplementaryKey">Check</button>
                                <span ng-show="vm.wrongKey" class="padding-5 alert-danger half-width">The key you have provided is incorrect.</span>
                                <span ng-show="vm.correctComplementaryKey" class="padding-5 alert-success half-width">The key you have provided is correct.</span>
                            </div>

                            <div class="col-md-12"><br />
                                Notes of Restrictions (if any):<br />
                                <textarea ng-model="vm.notes" class="full-width"></textarea>
                            </div>

                            <div class="col-md-12">
                                <br />
                                    <div ng-show="vm.amountStatus.inTime">
                                        <label>Registration</label>
                                        Your total amount to pay is <strong ng-hide="vm.correctComplementaryKey">{{vm.amountStatus.amount| currency}}</strong> <strong ng-show="vm.correctComplementaryKey">$0.00</strong>.
                                    </div>
                                <div ng-show="vm.amountStatus.inTimeLateFee">
                                    <label>Late Registration</label>
                                    Your total amount with the late fee included to pay is <strong ng-hide="vm.correctComplementaryKey">{{vm.amountStatus.amount | currency}}</strong> <strong ng-show="vm.correctComplementaryKey">$0.00</strong>.
                                </div>
                                <a ng-hide="vm.correctComplementaryKey" ng-disable="vm.loading" ng-click="vm.userPayment()" target="_blank" class="btn btn-ar btn-primary right"
                                   ng-disabled="(vm.userTypeID == 1 && vm.hasCompKey == false) || (vm.userTypeID == 1 && vm.hasCompKey == true && vm.companionRegistered==false)
                                    || (vm.datesList.length==3 && (vm.date3!=true && vm.date2!=true && vm.date1!=true))
                                    || (vm.datesList.length==2 && (vm.date2!=true && vm.date1!=true))
                                    || (vm.datesList.length==1 && (vm.date1!=true))">{{vm.paymentbuttonText}}</a>



                                    <a ng-show="vm.correctComplementaryKey" href="" data-dismiss="modal" class="btn btn-ar btn-primary right" ng-click="vm.complementaryPayment()"
                                       ng-disabled="(vm.datesList.length==3 && (vm.date3!=true && vm.date2!=true && vm.date1!=true))
                                    || (vm.datesList.length==2 && (vm.date2!=true && vm.date1!=true))
                                    || (vm.datesList.length==1 && (vm.date1!=true))">Register</a>
                                    <br />Please proceed to
                                    <span ng-hide="vm.correctComplementaryKey"><strong>Make Payment</strong> and fill the required form.</span>
                                    <span ng-show="vm.correctComplementaryKey"><strong>Register</strong> to complete the process.</span>
                                    <label class="right" ng-show="(vm.datesList.length==3 && (vm.date3!=true && vm.date2!=true && vm.date1!=true))
                                    || (vm.datesList.length==2 && (vm.date2!=true && vm.date1!=true))
                                    || (vm.datesList.length==1 && (vm.date1!=true))"><i>* Please select the date(s) you will be attending to.</i></label>
                                </div>  
                                                                            

                        </div>
                    </div>

                </div>

                <div class="modal-footer">

                </div>
            </div>
        </div>
        <div class="col-lg-12 uploading-top" ng-show="vm.loading">
            <h3><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
        </div>

    </div>

    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>



</div>