<div class="container" ng-controller="registrationCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title">CCWiC Registration</h2>
            <div class="panel">
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <h3>General Information</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="after-title-field black-label" for="InputUserName">Title<sup>*</sup></label>
                                    <input type="text" class="form-control" id="InputUserName">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="after-title-field black-label" for="InputUserName">First Name<sup>*</sup></label>
                                    <input type="text" class="form-control" id="InputUserName">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="after-title-field black-label" for="InputFirstName">Last Name<sup>*</sup></label>
                                    <input type="text" class="form-control" id="InputFirstName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="InputFirstName" class="black-label">Affiliation (e.g. University, Company)<sup>*</sup></label>
                                    <input type="text" class="form-control" id="InputFirstName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="InputLastName" class="black-label">Type of User<sup>*</sup></label><br />
                                    <select class="form-control">
                                        <option value="">Evaluator</option>
                                        <option value="">High School Student</option>
                                        <option value="">High School Student- Companion</option>
                                        <option value="">Graduate Student</option>
                                        <option value="">Undergraduate Student</option>
                                        <option value="">Professional - Academy</option>
                                        <option value="">Professional - Industry</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row title-field">
                            <div class="col-md-4">
                                <h3>Mailing Address</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="after-title-field black-label" for="">Line 1<sup>*</sup></label>
                                    <input type="" class="form-control" id="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="black-label">Line 2<sup>*</sup></label>
                                    <input type="" class="form-control" id="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="" class="black-label">City<sup>*</sup></label>
                                    <input type="" class="form-control" id="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="" class="black-label">State<sup>*</sup></label>
                                    <input type="" class="form-control" id="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="" class="black-label">Country<sup>*</sup></label>
                                    <input type="" class="form-control" id="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="" class="black-label">ZipCode<sup>*</sup></label>
                                    <input type="" class="form-control" id="">
                                </div>
                            </div>
                        </div>

                        <div class="row title-field">
                            <div class="col-md-4">
                                <h3>Contact Information</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="after-title-field black-label" for="">Email<sup>*</sup></label>
                                    <input type="" class="form-control" id="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="after-title-field black-label" for="">Phone Number<sup>*</sup></label>
                                    <input type="" class="form-control" id="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="after-title-field black-label" for="">Fax</label>
                                    <input type="" class="form-control" id="">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Participation Days</h3>
                            </div>
                        </div>
                        <div>
                            <label class="checkbox-inline after-title-field black-label">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> Wednesday, February 26, 2014
                            </label>
                        </div>
                        <div>
                            <label class="checkbox-inline black-label">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> Thursday, February 27, 2014
                            </label>
                        </div>
                        <div>
                            <label class="checkbox-inline black-label">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> Both days
                            </label>
                            <br />
                        </div>


                        <div class="row" id="keys">
                            <div class="row">
                                <br />
                                <div class="col-md-4">

                                    <h3>Complemetary or Companion Key</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class=" checkbox-inline black-label">
                                        <input type="checkbox" id="inlineCheckbox5" value="complementary"> Complemetary Key
                                        <input type="" class="form-control" id="">

                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row" id="register-button">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-ar btn-primary ">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>