<div class="container" ng-controller="sponsorInterfaceCtrl2 as vm">

    <h2 class="section-title">Sponsors<a href="#/Login/Signup" class="btn btn-ar btn-primary right">Become a Sponsor</a></h2>

    <!-- <div class="pricing-box animated fadeInUp animation-delay-1"> (for donations page) -->

    <section class="hide-until-loaded" id="body">
        <div class="row">
            <div class="col-lg-12">
                <p ng-hide="vm.instructions || vm.idiamondAmount || vm.iplatinumAmount || vm.igoldAmount || vm.isilverAmount || vm.ibronzeAmount">No content to display.</p>
                <div class="p-lg" ng-model="vm.instructions" ckhtml></div><br />
            </div>

            <div class="col-lg-3 col-sm-6" ng-show="vm.idiamondAmount">
                <div class="pricing-box animated fadeInUp animation-delay-1">
                    <div class="pricing-box-header diamond">
                        <h2>Diamond</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ {{vm.idiamondAmount}}</h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li ng-show="vm.idiamondBenefits.benefit1"><center>{{vm.idiamondBenefits.benefit1}}</center></li>
                            <li ng-show="vm.idiamondBenefits.benefit2"><center>{{vm.idiamondBenefits.benefit2}}</center></li>
                            <li ng-show="vm.idiamondBenefits.benefit3"><center>{{vm.idiamondBenefits.benefit3}}</center></li>
                            <li ng-show="vm.idiamondBenefits.benefit4"><center>{{vm.idiamondBenefits.benefit4}}</center></li>
                            <li ng-show="vm.idiamondBenefits.benefit5"><center>{{vm.idiamondBenefits.benefit5}}</center></li>
                            <li ng-show="vm.idiamondBenefits.benefit6"><center>{{vm.idiamondBenefits.benefit6}}</center></li>
                            <li ng-show="vm.idiamondBenefits.benefit7"><center>{{vm.idiamondBenefits.benefit7}}</center></li>
                            <li ng-show="vm.idiamondBenefits.benefit8"><center>{{vm.idiamondBenefits.benefit8}}</center></li>
                            <li ng-show="vm.idiamondBenefits.benefit9"><center>{{vm.idiamondBenefits.benefit9}}</center></li>
                            <li ng-show="vm.idiamondBenefits.benefit10"><center>{{vm.idiamondBenefits.benefit10}}</center></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6" ng-show="vm.iplatinumAmount">
                <div class="pricing-box animated fadeInUp animation-delay-3">
                    <div class="pricing-box-header platinum">
                        <h2>Platinum</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ {{vm.iplatinumAmount}}</h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li ng-show="vm.iplatinumBenefits.benefit1"><center>{{vm.iplatinumBenefits.benefit1}}</center></li>
                            <li ng-show="vm.iplatinumBenefits.benefit2"><center>{{vm.iplatinumBenefits.benefit2}}</center></li>
                            <li ng-show="vm.iplatinumBenefits.benefit3"><center>{{vm.iplatinumBenefits.benefit3}}</center></li>
                            <li ng-show="vm.iplatinumBenefits.benefit4"><center>{{vm.iplatinumBenefits.benefit4}}</center></li>
                            <li ng-show="vm.iplatinumBenefits.benefit5"><center>{{vm.iplatinumBenefits.benefit5}}</center></li>
                            <li ng-show="vm.iplatinumBenefits.benefit6"><center>{{vm.iplatinumBenefits.benefit6}}</center></li>
                            <li ng-show="vm.iplatinumBenefits.benefit7"><center>{{vm.iplatinumBenefits.benefit7}}</center></li>
                            <li ng-show="vm.iplatinumBenefits.benefit8"><center>{{vm.iplatinumBenefits.benefit8}}</center></li>
                            <li ng-show="vm.iplatinumBenefits.benefit9"><center>{{vm.iplatinumBenefits.benefit9}}</center></li>
                            <li ng-show="vm.iplatinumBenefits.benefit10"><center>{{vm.iplatinumBenefits.benefit10}}</center></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6" ng-show="vm.igoldAmount">
                <div class="pricing-box animated fadeInUp animation-delay-5">
                    <div class="pricing-box-header gold">
                        <h2>Gold</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ {{vm.igoldAmount}}</h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li ng-show="vm.igoldBenefits.benefit1"><center>{{vm.igoldBenefits.benefit1}}</center></li>
                            <li ng-show="vm.igoldBenefits.benefit2"><center>{{vm.igoldBenefits.benefit2}}</center></li>
                            <li ng-show="vm.igoldBenefits.benefit3"><center>{{vm.igoldBenefits.benefit3}}</center></li>
                            <li ng-show="vm.igoldBenefits.benefit4"><center>{{vm.igoldBenefits.benefit4}}</center></li>
                            <li ng-show="vm.igoldBenefits.benefit5"><center>{{vm.igoldBenefits.benefit5}}</center></li>
                            <li ng-show="vm.igoldBenefits.benefit6"><center>{{vm.igoldBenefits.benefit6}}</center></li>
                            <li ng-show="vm.igoldBenefits.benefit7"><center>{{vm.igoldBenefits.benefit7}}</center></li>
                            <li ng-show="vm.igoldBenefits.benefit8"><center>{{vm.igoldBenefits.benefit8}}</center></li>
                            <li ng-show="vm.igoldBenefits.benefit9"><center>{{vm.igoldBenefits.benefit9}}</center></li>
                            <li ng-show="vm.igoldBenefits.benefit10"><center>{{vm.igoldBenefits.benefit10}}</center></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6" ng-show="vm.isilverAmount">
                <div class="pricing-box animated fadeInUp animation-delay-7">
                    <div class="pricing-box-header silver">
                        <h2>Silver</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ {{vm.isilverAmount}}</h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li ng-show="vm.isilverBenefits.benefit1"><center>{{vm.isilverBenefits.benefit1}}</center></li>
                            <li ng-show="vm.isilverBenefits.benefit2"><center>{{vm.isilverBenefits.benefit2}}</center></li>
                            <li ng-show="vm.isilverBenefits.benefit3"><center>{{vm.isilverBenefits.benefit3}}</center></li>
                            <li ng-show="vm.isilverBenefits.benefit4"><center>{{vm.isilverBenefits.benefit4}}</center></li>
                            <li ng-show="vm.isilverBenefits.benefit5"><center>{{vm.isilverBenefits.benefit5}}</center></li>
                            <li ng-show="vm.isilverBenefits.benefit6"><center>{{vm.isilverBenefits.benefit6}}</center></li>
                            <li ng-show="vm.isilverBenefits.benefit7"><center>{{vm.isilverBenefits.benefit7}}</center></li>
                            <li ng-show="vm.isilverBenefits.benefit8"><center>{{vm.isilverBenefits.benefit8}}</center></li>
                            <li ng-show="vm.isilverBenefits.benefit9"><center>{{vm.isilverBenefits.benefit9}}</center></li>
                            <li ng-show="vm.isilverBenefits.benefit10"><center>{{vm.isilverBenefits.benefit10}}</center></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6" ng-show="vm.ibronzeAmount">
                <div class="pricing-box animated fadeInUp animation-delay-9">
                    <div class="pricing-box-header bronze">
                        <h2>Bronze</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ {{vm.ibronzeAmount}}</h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li ng-show="vm.ibronzeBenefits.benefit1"><center>{{vm.ibronzeBenefits.benefit1}}</center></li>
                            <li ng-show="vm.ibronzeBenefits.benefit2"><center>{{vm.ibronzeBenefits.benefit2}}</center></li>
                            <li ng-show="vm.ibronzeBenefits.benefit3"><center>{{vm.ibronzeBenefits.benefit3}}</center></li>
                            <li ng-show="vm.ibronzeBenefits.benefit4"><center>{{vm.ibronzeBenefits.benefit4}}</center></li>
                            <li ng-show="vm.ibronzeBenefits.benefit5"><center>{{vm.ibronzeBenefits.benefit5}}</center></li>
                            <li ng-show="vm.ibronzeBenefits.benefit6"><center>{{vm.ibronzeBenefits.benefit6}}</center></li>
                            <li ng-show="vm.ibronzeBenefits.benefit7"><center>{{vm.ibronzeBenefits.benefit7}}</center></li>
                            <li ng-show="vm.ibronzeBenefits.benefit8"><center>{{vm.ibronzeBenefits.benefit8}}</center></li>
                            <li ng-show="vm.ibronzeBenefits.benefit9"><center>{{vm.ibronzeBenefits.benefit9}}</center></li>
                            <li ng-show="vm.ibronzeBenefits.benefit10"><center>{{vm.ibronzeBenefits.benefit10}}</center></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>